<?xml version="1.0" encoding="UTF-8"?>
<config>
  <name>com_ibm_btt_test_login</name>
  <label>com.ibm.btt.test.login</label>
  <description></description>
  <editor>com.ibm.btt.tools.xui.editor2.XUIEditor</editor>
  <category>btt.Q002</category>
  <baseType>CUST_INCLUDE</baseType>
</config>