@CHARSET "UTF-8";

body {font-family: '돋움',dotum !important; font-size: 12px !important;}
label { font-family: '돋움',dotum; font-size: 12px;}

.cellHgap05 {height: 11px !important; padding: 0px !important;}
.cellWgap15 {width: 14px !important; padding: 0px !important;}

.imgTopGap05 {padding-top: 5px;}
.imgTopGap10 {padding-top: 10px;}
.imgTopGap15 {padding-top: 15px;}
.imgTopGap20 {padding-top: 20px;}
.imgTopGap20Bt20 {padding-top: 20px; padding-bottom: 20px;}
.imgTopGap60Bt20 {padding-top: 60px; padding-bottom: 20px;}

.topGap10 {padding-top: 10px;}

.divHgap05 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 5px !important; }
.divHgap10 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 10px !important; }
.divHgap15 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 15px !important; }
.divHgap20 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 20px !important; }
.divHgap25 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 25px !important; }
.divHgap30 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 30px !important; }

.divWbar01 {padding: 0px !important; margin: 0px !important; width: 800px; height: 1px; background-color: #D2D2D3;  margin-bottom: 8px !important;}

.labelBold {font-weight: bold; display: block;}
.labelColor01 {color: #FE6C00;}
.labelPoint01 {font-weight: bold; color: #FE6C00;}
.labelPoint02 { color: #FE6C00;}

.labelDept01 {font-size: 16px; font-weight:bold; color: #0480BD;}
.labelDept02 {font-size: 16px; font-weight:bold; color: #B6BAC0;}
	
/* 초기화면 - index */
.divMain {position:relative; width:1018px; left:50%; margin-left:-509px; padding: 0px !important;}
.mainOpen {padding-top: 5px;}
.mainA {font-family:'돋움',dotum; font-size: 12px; color: #343434; text-decoration: none; margin-top: 10px; display: block; }

.divBackImg01 { background-image: url(../../img/main/middle.jpg); background-repeat: no-repeat; padding:0px !important; width: 270px; height: 329px;}
.divBackImg02 { background-image: url(../../img/main/IBKBANK_open_05.jpg); background-repeat: no-repeat; padding:0px !important; width: 111px; height: 107px;}
.divBackImg03-1 { background-image: url(../../img/main/middleline_bar.png); background-repeat: no-repeat; padding:0px !important; width: 343px; height: 10px; margin-top: 20px !important; margin-bottom: 10px !important;}
.divBackImg03-2 { background-image: url(../../img/main/middleline_bar.png); background-repeat: no-repeat; padding:0px !important; width: 343px; height: 10px; margin-top: 20px !important; margin-bottom: 25px !important;}
.divBackImg04 { background-image: url(../../img/main/longline_bar.png); background-repeat: no-repeat; padding:0px !important; width: 996px; height: 10px;  margin-top: 60px !important; margin-bottom: 20px !important;}

.divGap00 {padding:0px !important; margin: 0px !important; width: 100px !important; height: 250px !important; }
.divGap01 {padding:0px !important; margin: 0px !important; width: 100px !important; height: 40px !important; }
.divGap02 {padding:0px !important; margin: 0px !important; width: 100px !important; height: 15px !important; }

.divHbar01 { background-color: #D3D3D3; padding:0px !important; width: 1px; height: 13px; margin-top: 10px;}

.mainLabelNotic01 {color: #7C7C7C; display: block; }
.mainLabelNotic02 {color: #7C7C7C; display: block; }

.imgCursor {cursor: pointer;}

.labelTitle01 {font-size: 16px; font-weight: bold; }
.labelTitle02 {font-size: 12px; font-weight: bold; color: #424242; padding-left: 3px;}
.divTextBack01 {padding: 0px !important; margin: 0px !important; border-top: 1px solid #D2D2D3; border-bottom: 1px solid #D2D2D3; width: 800px; background-color: #F7F7F7; margin-top: 5px !important; margin-bottom: 5px!important; padding-top: 10px !important; padding-bottom: 10px !important;}
.divErrBox01 {padding: 0px !important; margin: 0px !important; border: 2px solid #FE6C00; width: 770px; margin-top: 5px !important; margin-bottom: 5px!important; padding-top: 10px !important; padding-bottom: 10px !important;}
.divBackImg05 { background-image: url(../../img/Arrow.jpg); background-repeat: no-repeat; padding:0px !important; width: 19px; height: 14px;  margin-top: 0px !important; margin-bottom: 0px !important;}

.cellCollapse {border-collapse: collapse;}




#AllAccountList_tabPanel .dijitTabPaneWrapper {border-left: 0px !important; border-right: 0px !important; border-bottom: 0px !important;}
#AllAccountList_tabPanel_tablist div div .dijitTabChecked div .dijitTabContent{border-color: #0380BC;}
#AllAccountList_tabPanel_tablist div div .dijitTabChecked div div div span {font-weight: bold; color: #0380BC;}
#AllAccountList_tabPanel_tablist div div div div div div span {font-weight: bold; color: #616161;}
#AllAccountList_tabPanel_tablist div .dijitTabContainerTop-tabs {border-color: #0380BC;}


