@CHARSET "UTF-8";

body {font-family: '돋움',dotum !important; font-size: 12px !important;}
label { font-family: '돋움',dotum; font-size: 12px; display: block;}
table {border-collapse: collapse;}

.gap01 {margin-left: 10px !important; margin-top: 10px !important;}

.rad01 {}
.rad01 div {float:left !important; }
.rad01 label {width: 50px !important;}
.rad02 {}
.rad02 div {float:left !important; }
.rad02 label {width: 80px !important;}
.rad03 {}
.rad03 div {float:left !important; }
.rad03 label {width: 100px !important;}
.rad04 {}
.rad04 div {float:left !important; }
.rad04 label {width: 200px !important;}

.imgTopGap05 {padding-top: 5px;}
.imgTopGap10 {padding-top: 10px;}
.imgTopGap15 {padding-top: 15px;}
.imgTopGap20 {padding-top: 20px;}
.imgTopGap20Bt20 {padding-top: 20px; padding-bottom: 20px;}
.imgTopGap60Bt20 {padding-top: 60px; padding-bottom: 20px;}

.topGap05 {padding-top: 5px;}
.topGap10 {padding-top: 10px;}

.topGapM05 {margin-top: 5px;}
.topGapM05 {margin-top: 10px;}

.topBottomGapM05 {margin-top: 5px; margin-bottom: 5px;}
.topBottomGapM10 {margin-top: 10px; margin-bottom: 10px;}


.sizeW50 {width: 50px;}
.sizeW100 {width: 100px;}

.divHgap05 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 5px !important; }
.divHgap10 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 10px !important; }
.divHgap15 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 15px !important; }
.divHgap20 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 20px !important; }
.divHgap25 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 25px !important; }
.divHgap30 {padding:0px !important; margin: 0px !important; width: 0px !important; height: 30px !important; }

.divWbar01 {padding: 0px !important; margin: 0px !important; width: 800px; height: 1px; background-color: #D2D2D3;  margin-bottom: 8px !important;}

.labelBold {font-weight: bold; display: block;}
.labelColor01 {color: #FE6C00;}
.labelColor02 {color: #868686;}
.labelColor03 {color: #086D95; font-weight: bold; }
.labelPoint01 {font-weight: bold; color: #FE6C00;}
.labelPoint02 { color: #FE6C00;}

.labelDept01 {font-size: 16px; font-weight:bold; color: #0480BD;}
.labelDept02 {font-size: 16px; font-weight:bold; color: #B6BAC0;}
	
/* 초기화면 - index */
.divMain {position:relative; width:1018px; left:50%; margin-left:-509px; padding: 0px !important;}
.mainOpen {padding-top: 5px;}
.mainA {font-family:'돋움',dotum; font-size: 12px; color: #343434; text-decoration: none; margin-top: 10px; display: block; }

.divBackImg01 { background-image: url(../../img/main/middle.jpg); background-repeat: no-repeat; padding:0px !important; width: 270px; height: 329px;}
.divBackImg02 { background-image: url(../../img/main/IBKBANK_open_05.jpg); background-repeat: no-repeat; padding:0px !important; width: 111px; height: 107px;}
.divBackImg03-1 { background-image: url(../../img/main/middleline_bar.png); background-repeat: no-repeat; padding:0px !important; width: 343px; height: 10px; margin-top: 20px !important; margin-bottom: 10px !important;}
.divBackImg03-2 { background-image: url(../../img/main/middleline_bar.png); background-repeat: no-repeat; padding:0px !important; width: 343px; height: 10px; margin-top: 20px !important; margin-bottom: 25px !important;}
.divBackImg04 { background-image: url(../../img/main/longline_bar.png); background-repeat: no-repeat; padding:0px !important; width: 996px; height: 10px;  margin-top: 60px !important; margin-bottom: 20px !important;}

.divGap01 {padding:0px !important; margin: 0px !important; width: 100px !important; height: 40px !important; }
.divGap02 {padding:0px !important; margin: 0px !important; width: 100px !important; height: 15px !important; }

.divHbar01 { background-color: #D3D3D3; padding:0px !important; width: 1px; height: 13px;}

.mainLabelNotic01 {color: #7C7C7C; display: block; }
.mainLabelNotic02 {color: #7C7C7C; display: block; }

.imgCursor {cursor: pointer;}



.labelTitle01 {font-size: 16px; font-weight: bold; }
.labelTitle02 {font-size: 12px; font-weight: bold; color: #424242; padding-left: 3px;}
.labelTitle03 {font-size: 16px; font-weight: bold; color: #ffffff; padding-left: 15px;}
.divTextBack01 {padding: 0px !important; margin: 0px !important; border-top: 1px solid #D2D2D3; border-bottom: 1px solid #D2D2D3; width: 800px; background-color: #F7F7F7; margin-top: 5px !important; margin-bottom: 5px!important; padding-top: 10px !important; padding-bottom: 10px !important;}
.divTextBack01 table tbody tr td  {height: 18px;}
.divTextBack01 .BTTRowStyle div {height: 18px}

.divErrBox01 {padding: 0px !important; margin: 0px !important; border: 2px solid #FE6C00; width: 770px; margin-top: 5px !important; margin-bottom: 5px!important; padding-top: 10px !important; padding-bottom: 10px !important;}
.divBackImg05 { background-image: url(../../img/Arrow.jpg); background-repeat: no-repeat; padding:0px !important; width: 19px; height: 14px;  margin-top: 0px !important; margin-bottom: 0px !important;}


.checkboxLine01 {background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0px; border-bottom: 0px; height: 30px;}
.checkboxLine01 div {float: left !important;}
.checkboxLine01 label {font-weight: bold;}

.backCellL01 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0; height: 30px;}
.backCellL02 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0px; border-bottom: 0px; height: 30px;}
.backCellL03 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0px; border-bottom: 0px; border-right:0px; height: 30px;}
.backCellL04 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0px; height: 30px;}
.backCellL05 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0px; height: 30px;}
.backCellL06 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0px; border-right:0px; height: 30px;}
.backCellL07 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0; height: 30px;}
.backCellL08 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0; border-top:0px; height: 30px;}
.backCellL09 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0; height: 30px;}
.backCellL10 { background-color: #EEEEEE; border: 1px solid #B6BAC0; border-left: 0; border-top:0px; height: 30px;}

.backCellR00 { border: 1px solid #B6BAC0; border-right: 0px; width: 635px; height: 30px;}
.backCellR01 { border: 1px solid #B6BAC0; border-right: 0px; width: 550px; height: 30px;}
.backCellR02 { border: 1px solid #B6BAC0; border-right: 0px; border-bottom: 0px; width: 550px; height: 30px;}
.backCellR03 { border: 1px solid #B6BAC0; border-right: 0px;  width: 550px; height: 30px;}
.backCellR04 { border: 1px solid #B6BAC0; border-right: 0px; width: 650px; height: 30px;}
.backCellR05 { border: 1px solid #B6BAC0; border-right: 0px; border-top: 0px; width: 650px; height: 30px;}
.backCellR06 { border: 1px solid #B6BAC0; border-right: 0px; border-bottom: 0px; width: 720px; height: 30px;}
.backCellR07 { border: 1px solid #B6BAC0; border-right: 0px;  width: 720px; height: 30px;}
.backCellR08 { border: 1px solid #B6BAC0; border-right: 0px; border-left: 0px; width: 200px; height: 30px;}
.backCellR09 { border: 1px solid #B6BAC0; border-right: 0px; border-left: 0px; border-top: 0px; width: 250px; height: 30px;}
.backCellR10 { border: 1px solid #B6BAC0; border-right: 0px; border-left: 0px; width: 130px; height: 30px; padding-right: 10px;}




.cellHgap05 {height: 5px;}
.cellHgap10 {height: 10px;}
.cellHgap15 {height: 15px;}
.cellHgap20 {height: 20px;}
.cellHgap25 {height: 25px;}
.cellHgap30 {height: 30px;}
.cellHgap350 {height: 350px;}

.cellWgap05 {width: 5px;}
.cellWgap10 {width: 10px;}
.cellWgap15 {width: 15px;}
.cellWgap20 {width: 20px;}
.cellWgap25 {width: 25px;}
.cellWgap30 {width: 30px;}

.cellWHgap05 {width: 15px; height: 05px;}
.cellWHgap10 {width: 15px; height: 10px;}
.cellWHgap15 {width: 15px; height: 15px;}
.cellWHgap20 {width: 15px; height: 20px;}
.cellWHgap25 {width: 15px; height: 25px;}
.cellWHgap30 {width: 15px; height: 30px;}

.backCellStyle01 {height:38px; background-color: #0192C3; border-bottom: 1px solid #0E7699; }
.backCellStyle02 {background-color: #E4E4E4; height: 30px;}

.RightPaddingGap05 {padding-right: 5px;}
.RightPaddingGap10 {padding-right: 10px;}
.RightPaddingGap15 {padding-right: 15px;}
.RightPaddingGap20 {padding-right: 20px;}

.btnStyle01 {}
.btnStyle01 span {background-color: #ffffff !important; background-image: none !important; }
.btnStyle01 span.dijitButtonNode {border: 1px solid #C6C6C6 !important;}
.btnStyle01 span span span {font-size: 11px !important; color: #656565 !important;}

.btnStyle02 {}
.btnStyle02 span {background-color: #F1A335 !important; background-image: none !important;}
.btnStyle02 span.dijitButtonNode {border: 1px solid #D46A22 !important;}
.btnStyle02 span span span {font-size: 13px !important; color: #ffffff !important; font-weight: bold; padding-right: 8px;}

.btnCloseTop01 {padding-right: 15px; cursor: pointer;}

.dijitDialogPaneContent {padding: 0px !important;}

.conDiv {border: 2px solid #EB5A09;}

.ipTextAlign div input {text-align: right !important;}

.imgCursor {cursor: pointer;}
.ipTextW50 {width: 50px;}

.tabS {height: 660px !important; }
.tabS div div.dijitVisible {height: auto !important;}
.tabS div.dijitAlignClient  {height: auto !important;}

#AccountDetailList_tp_accountTab .dijitTabPaneWrapper {border-left: 0px !important; border-right: 0px !important; border-bottom: 0px !important;}
#AccountDetailList_tp_accountTab_tablist div div .dijitTabChecked div .dijitTabContent{border-color: #0380BC;}
#AccountDetailList_tp_accountTab_tablist div div .dijitTabChecked div div div span {font-weight: bold; color: #0380BC;}
#AccountDetailList_tp_accountTab_tablist div div div div div div span {font-weight: bold; color: #ffffff;}
#AccountDetailList_tp_accountTab_tablist div .dijitTabContainerTop-tabs {border-color: #0380BC;}
#AccountDetailList_tp_accountTab {background-color: red;}
#dijitCheckBox {float: left;}



