.specialOffer{
    color: red;
}
.warning a{
    color: red;
    font-weight:bold;
}
.warning a:link {color:rgb(200,191,231);}		
.warning a:visited {color:red;}	
.warning a:hover {color:red;}	
.warning a:active {color:red;}

