.specialOffer{
    color: red;
}
.warning a{
    color: red;
    font-weight:bold;
}
.warning a:link {color:rgb(200,191,231);}		
.warning a:visited {color:red;}	
.warning a:hover {color:red;}	
.warning a:active {color:red;}

.headArea{
    background-image: url("../../img/G016/imgs/wholelayout/onlyhead.gif");
    border: 0 none;
    height: 116px;
    width: 990px;
}
.footArea{
    background-image: url("../../img/G016/imgs/wholelayout/only-footer-pa_a.gif");
    border: 0 none;
    height: 116px;
    width: 990px;
}
.listLeft {
   
    background: url("../../img/G016/imgs/wholelayout/only-background-pa_a.gif") repeat-y scroll left top transparent;
    margin-top:-3px; 
    margin-bottom:-3px; 
    float: left;
    min-height: 1200px;
    width: 90px;
}


.listRight {
    background: url("../../img/G016/imgs/wholelayout/login-list-right-pa_a.gif") repeat-y scroll 0 0 transparent;
  	margin-top:-3px ; 
  	margin-bottom:-3px; 
    float: left;
    min-height: 1200px;
    width: 65px;
}
.listCenter {
	margin-top:-3px ; 
  	margin-bottom:-3px; 
    float: left;
    min-height: 1200px;
    width: 835px;
}
.subheadMult {
    background: url("../../img/G016/imgs/innerlayout/only-box-head-pa_a.gif") no-repeat;
    height: 13px;
    width: 565px;
    margin-bottom: -10px;
}
.content {
    background: url("../../img/G016/imgs/innerlayout/only-box-background-pa_a.gif")  repeat-y;
    border:0;
    margin-top:-3px; 
    margin-bottom:-3px;
}
.subfooterMult {
    background: url("../../img/G016/imgs/innerlayout/only-box-footer-pa_a.gif") no-repeat;
    height: 22px;
    width: 565px;
    clear: left;
     margin-top:-3px; 
}
.nombre {
	font : bold ;
	font-weight:bold;
    color:rgb(183, 18, 52);
    float: none;
    font-size: 13px;
    height: 50px;
    margin-left: 0px;
}
.puntos {
	font-weight:bold;
	font : bold ;
    color: rgb(6, 80, 0);
    float: left;
    font-size: 13px;
    height: 30px;
    margin-right: 10px;
    top: 15px;
}
.giftlink a{
	color:#5B491F;
	font-weight:bold;
}
.giftlink a:link {color:#5B491F;}		
.giftlink a:visited {color:#5B491F;}	
.giftlink a:hover {color:#5B491F;}	
.giftlink a:active {color:#5B491F;}
.testBorder {
	background-color : red;
	border-style: solid;
	border-color: blue ;
	border-width:1px;
	  
}
.testMargin{
	margin : 50px 50px 50px 50px;
}
.testPadding{
	  padding-top: 50px;
	  padding-right: 50px;
	  padding-bottom: 50px;
	  padding-left: 50px;

}
.setBorder{
	 border-style: solid;
	border-width:1px;
}
.fila {
	border-bottom: 1px dashed #E4CEA9;
    color: #555555;
    float: left;
    height: auto;
    width: 711px;
}
.changeAColor a{
    color: #9B8D68;
    text-decoration: underline;
}
.likeA {
    color: #9B8D68;
    border-bottom-style:solid;
    border-width: 1px;
}
.headCol {
    border-right: 1px solid #FFFFFF;
    color: #464646;
    float: left;
    font-weight: bold;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 2px;
    text-align: left;
}
.headColRight {
    border-right: none;
    color: #464646;
    float: left;
    font-weight: bold;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 2px;
    text-align: left;
}
.head{
	background-color: #E4CEA9;
}
.texto {
    color: #A42B48;
    cursor: auto;
    font: 22px/1.2em Verdana,Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
    padding-left: 10px;
}
.textoNegrita {
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    position: relative;
    width: 711px;
    color:#777777;
    margin-top:20px;
    margin-bottom:20px;
    
}
.fontRedColor{
    color: red;
}
.fontGreenColor{
    color: green;
}
.fontWhiteColor{
    color: #C0C0C0;
}
.fontYellowColor{
    color: yellow;
}
.backGroundBlackColor{
    background-color: #181818;
}
.backGroundBlackColor .dijitTitlePaneContentOuter{
	background-color: #181818 !important;
}