.subheadMult {
    background: url("../../img/G016/imgs/innerlayout/only-box-head-pa_a.gif") no-repeat;
    height: 13px;
    width: 565px;
    margin-bottom: -10px;
}
.content {
    background: url("../../img/G016/imgs/innerlayout/only-box-background-pa_a.gif")  repeat-y;
    border:0;
    margin-top:-3px; 
    margin-bottom:-3px;
}
.subfooterMult {
    background: url("../../img/G016/imgs/innerlayout/only-box-footer-pa_a.gif") no-repeat;
    height: 22px;
    width: 565px;
    clear: left;
     margin-top:-3px; 
}