.headArea{
    background-image: url("../../img/G016/imgs/wholelayout/onlyhead.gif");
    border: 0 none;
    height: 116px;
    width: 990px;
}
.footArea{
    background-image: url("../../img/G016/imgs/wholelayout/only-footer-pa_a.gif");
    border: 0 none;
    height: 116px;
    width: 990px;
}
.listLeft {
   
    background: url("../../img/G016/imgs/wholelayout/only-background-pa_a.gif") repeat-y scroll left top transparent;
    margin-top:-3px; 
    margin-bottom:-3px; 
    float: left;
    min-height: 1200px;
    width: 90px;
}


.listRight {
    background: url("../../img/G016/imgs/wholelayout/login-list-right-pa_a.gif") repeat-y scroll 0 0 transparent;
  	margin-top:-3px ; 
  	margin-bottom:-3px; 
    float: left;
    min-height: 1200px;
    width: 65px;
}
.listCenter {
	margin-top:-3px ; 
  	margin-bottom:-3px; 
    float: left;
    min-height: 1200px;
    width: 835px;
}