.nombre {
	font : bold ;
	font-weight:bold;
    color:rgb(183, 18, 52);
    float: none;
    font-size: 13px;
    height: 50px;
    margin-left: 0px;
}
.puntos {
	font-weight:bold;
	font : bold ;
    color: rgb(6, 80, 0);
    float: left;
    font-size: 13px;
    height: 30px;
    margin-right: 10px;
    top: 15px;
}
.giftlink a{
	color:#5B491F;
	font-weight:bold;
}
.giftlink a:link {color:#5B491F;}		
.giftlink a:visited {color:#5B491F;}	
.giftlink a:hover {color:#5B491F;}	
.giftlink a:active {color:#5B491F;}