.sortListBody {
	margin: 0;
	padding: 0;
	background: #fff;
}



.sortListTitle {
	cursor: pointer;
	padding: 0px;
	height:0px;
}

.sortList {
	height: 100%;
	width: 100%;
}

/* for nested layout elements */
.dijitBorderContainer .dojoxSortList {
	width: auto;
	height: auto;
}

.sortListBodyWrapper {
	border: 0px solid #b7b7b7;
	overflow: auto;
	height: 100%;
	cursor: pointer;
}

.claro .sortListBodyWrapper {
	border: 0px solid #333;
}

.claro .sortListItemOdd {
	background: #f2f5f9;
}

.claro .sortListTitle {
	background: #4f8ce5 url('image/titlebar.png') repeat-x top left;
	background-position: 0px -1px;
	border: 0px solid #333;
	border-bottom: 0;
	color: #fff;
}

.sortListItemSelected {
	/*background: #b7cdee !important;*/
}

.sortListItemHover {
	background: #ff6 !important;
}

.claro .sortListIcon {
	float: right;
	background: url('image/spriteArrows.png') no-repeat;
	width: 0px;
}

.claro .sortListDesc .sortListIcon,.claro .sortListAsc .sortListIcon {
	background: url('image/spriteRoundedIconsSmall.png') no-repeat -15px top;
}

.claro .sortListDesc .sortListIcon {
	background-position: -45px 0px;
}