.testComboStyle {
	font-size:50px;
    font-style:italic;
    font-weight:bold;
    font-family:"Times New Roman";
	color:white;
}
.testComboStyle .dijitTextBox {
	border:solid green 2px;
	width:200px;
}
.testComboStyle .dijitComboBox {
	background-color:red;
}
.testComboStyle .dijitTextBox .dijitInputField{
    padding:10px;
}

.testComboStyle2 {
	margin:10px;
}
.testComboStyle2 .dijitTextBox {
	border:solid green 2px;
	width:200px;
}
.testComboStyle2 .dijitComboBox {
	background-color:yellow;
}
.testComboStyle2 .dijitTextBox .dijitInputField{
    padding:10px;
}