default {
	/*font-family: Verdana,Arial,Helvetica,sans-serif;*/
	/*background-image:url("E:\workspace_BTT\runtimetest0626\WebContent\img\cry.jpg");*/
	/*font-size: 11px;*/
}

Panel,Form,Image{
 font-size:20px;
    font-style:italic;
    font-weight:bold;
    font-family:"Times New Roman";
	background-color:yellow;
	color:green;

	margin:10px 60px;
	
	border-right-width:2px;
	border-left-width:2px;
	border-bottom-width:5px;
	
	border-left-color:blue;
	
	border-right-style:dashed;
	border-bottom-style:dashed;
	
	
	padding:10px 40px;
}
TabbedPane{
 font-size:40px;
    font-style:normal;
    font-weight:100;
    font-family:"Times New Roman";
	color:red;
	
	padding:20px 100px;
    background-color:blue;

	margin:10px;
    BTTTabColor:green;

}


Button{
   /* font-size:24.9px;
    font-style:normal;
    font-weight:100;
    font-family:"monospace";
	background-color:rgb(255,255,255);
	color:black;*/

	margin:10px;
	
    border-right-width:10px;
	border-left-style:dashed;
	
	padding-top:5px; 
    padding-right:10px; 
    padding-bottom:20px; 
    padding-left:30px; 

	width:50px;
	height:50px;
	
}

Radio{
	/*
    font-size:1cm;
    font-style:normal;
    font-weight:100;
    font-family:"serif";
	background-color:red;
	color:green;
	*/
	border-bottom-style:dashed;

	margin-top:10px;
	margin-bottom:20px;
	margin-left:2px;
	margin-right:30px;
	
	padding:10px 20px 30px;
	width:300px;
	height:100px;
}

Combo {
	/*
font-size:50px;
    font-style:italic;
    font-weight:bold;
    font-family:"Times New Roma";
	color:white;
	
*/
	background-color:red;
	margin:10px;
	border:solid green 2px;
	width:200px;
	
	 padding:10px;
}

SelectList {
	/*
font-size:50px;
    font-style:italic;
    font-weight:bold;
    font-family:"Times New Roma";
	color:white;
	background-color:red;
*/
	background-color:red;
	margin:10px;
	border:solid green 2px;
	width:200px;
	
	 padding:10px;
}

CheckBox,Label,Link{
    /*font-size:1cm;
    font-style:normal;
    font-weight:100;
    font-family:"serif";
    background-color:red;
    color:blue;
    */
	
	
	border-bottom-style:dashed;

	margin-top:10px;
	margin-bottom:20px;
	margin-left:2px;
	margin-right:30px;
	
	padding:10px 20px 30px;

	widht:300px;
	height:100px;
}

Group{
 font-size:20px;
    font-style:italic;
    font-weight:bold;
    font-family:"Times New Roman";
	background-color:red;
	color:black;

	margin:10px;
    
    border-right-width:2px;
	border-left-width:2px;
	border-bottom-width:2px;
	
	border-left-color:blue;
	
	border-top-style:dashed;
	border-right-style:dashed;
	border-bottom-style:dashed;
	border-left-style:dashed;

	 padding:10px;
	width:500px;
	height:700px;
}


RichText{
	/*
font-size:40px;
    font-style:italic;
    font-weight:800;
    font-family:"serif";
	color:rgb(255,0,0);
	background-color:green;
	*/
	background-color:green;
	margin:30px;
	width:200px;
	height:200px;

	border-right-width:10px;
	border-bottom-width:5px;
	
	
	border-top-style:dashed;
	border-left-style:dashed;
	border-right-style:dashed;

	 
}

Table{
	/*
font-size:10px;
    font-style:italic;
    font-weight:bold;
    font-family:"Times New Roman";
	color:white;
	background-color:red;
	*/
	background-color:green;
	margin:10px;
	border:solid green 3px
	width:200px;
	height:420px;
	
}

TextArea{
	/*
 font-size:50px;
    font-style:italic;
    font-weight:bold;
    font-family:"Times New Roman";
	background-color:green;
	color:white;
*/
	background-color:green;
	margin:10px;
	border-right-width:10px;
	border-left-width:10px;
	border-bottom-width:10px;
	
	border-left-color:blue;
	border-top-style:dashed;
	
	
	padding:10px;
	
    width:200px;
	height:200px;
	
}
Text{
	/*
font-size:50pt;
    font-style:italic;
    font-weight:normal;
    font-family:"serif";
	color:yellow;
	background-color:red;	
	*/
	margin:30px;
	border-right-width:10px;
	border-left-width:10px;
	border-bottom-width:10px;
	
	border-left-color:blue;
	border-top-style:dashed;
	
	
	
	
	width:200px;
	height:200px;
padding:10px;
}
Tree{
	/*
font-size:30px;
    font-style:normal;
    font-weight:700;
    font-family:"Times New Roman";
	*/
	color:rgb(255,0,0);
	
	background-color:green;	
	margin:10px;
	
	border-right-width:2px;
	border-left-width:2px;
	border-bottom-width:2px;
	
	border-left-color:blue;
	
	border-top-style:dashed;
	border-right-style:dashed;
	border-bottom-style:dashed;
	
	padding:10px ;
	width:150px;
	height:300px;
}
