.testGroupStyle{
    border-right-width:2px;
	border-left-width:2px;
	border-bottom-width:2px;
	
	border-left-color:blue;
	
	border-top-style:dashed;
	border-right-style:dashed;
	border-bottom-style:dashed;
	border-left-style:dashed;
	}
.testGroupStyle .dijitGroupBase{
	width:500px;
	height:700px;

}
.testGroupStyle1{
    font-size:20px;
    font-style:italic;
    font-weight:bold;
    font-family:"Times New Roman";
	background-color:green;
	color:black;

	margin:10px;
	}
.testGroupStyle1 .dijitGroupBase{
	width:600px;
	height:700px;

}