.richTextStyle {
	margin:30px;
	width:200px;
	height:200px;
}

.richTextStyle .dijitEditor {
	border-top-style:dashed;
	border-left-style:dashed;
	border-right-style:dashed;
}

.richTextStyle .dijitEditor .dijitEditorIFrameContainer .dijitEditorIFrame, .richTextStyle .dijitEditor .dijitEditorIFrameContainer{
    background-color:green;
}

.richTextStyle1 {
	font-size:40px;
    font-style:italic;
    font-weight:800;
    font-family:"serif";
	color:rgb(255,0,0);
}

.richTextStyle1 .dijitEditor {
	border-right-width:10px;
	border-bottom-width:5px;
}

.richTextStyle1 .dijitEditor .dijitEditorIFrameContainer .dijitEditorIFrame, .richTextStyle .dijitEditor .dijitEditorIFrameContainer{
    background-color:blue;
}
