/* font color for content pane  */
.tabPaneStyle{
    font-size:20px;
    font-style:normal;
    font-weight:100;
    font-family:"Times New Roman";
	color:black;
	margin:10px;
}
/* font color for tab  */
.tabPaneStyle .dijitTabInnerDiv .dijitTabContent{
	color:green;
}

/* Background-color property for content pane  */
.tabPaneStyle .dijitTabContainer .dijitTabContainerTop-container .dijitContentPane{
    padding:20px;
}
/* Background-color property for active tab */
.tabPaneStyle .dijitTabContainer .dijitTabListContainer-top .dijitTabContainerTopNone .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabContent{
    background-color:blue;
}
/* font color for content pane  */
.tabPaneStyle{
	margin:10px;
}
/* font color for tab  */
.tabPaneStyle .dijitTabInnerDiv .dijitTabContent{
	color:green;
}

/* Background-color property for content pane  */
.tabPaneStyle .dijitTabContainer .dijitTabContainerTop-container .dijitContentPane{
    padding:20px;
    background-color:red;
}

/* Background-color property for active tab */
.tabPaneStyle .dijitTabContainer .dijitTabListContainer-top .dijitTabContainerTopNone .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabContent{
    background-color:red;
}