.tableStyle {
    font-family:"Times New Roman";
	color:blue;
	margin:10px;
}
.tableStyle .dojoxGrid {
	border:solid green 3px;
	
}

.tableStyle .dojoxGridCell,
.tableStyle .dojoxGridRow,
.tableStyle .dojoxGrid .dojoxGridMasterView .dojoxGridView .dojoxGridScrollbox {
	background-color:yellow;
}

.tableStyle1 {
	font-size:10px;
    font-style:italic;
    font-weight:bold;
}
.tableStyle1 .dojoxGrid {
	border:dashed green 3px;
	
}

.tableStyle1 .dojoxGridCell,
.tableStyle .dojoxGridRow,
.tableStyle .dojoxGrid .dojoxGridMasterView .dojoxGridView .dojoxGridScrollbox {
	background-color:yellow;
}