.textBoxStyle{
	font-size:20pt;
    font-style:italic;
    font-weight:normal;
    font-family:"serif";
}
.textBoxStyle .dijitTextBox {
	border-right-width:5px;
	border-left-width:5px;
	border-bottom-width:5px;
	width:100px;
}

.textBoxStyle .dijitTextBox .dijitInputContainer {
	padding:10px;
}

.textBoxStyle2{
	color:yellow;
	margin:20px;
	
}

.textBoxStyle2 .dijitTextBox {
	border-left-color:blue;
	border-top-style:dashed;
	
	background-color:yellow;	
	
	width:100px;
}

.textBoxStyle2 .dijitTextBox .dijitInputContainer {
	padding:10px;
}