.mybankTitlePane .dijitTitlePaneTitle {
	background-image: url("title_bar.png") !important;
	background-size:100% auto;
}

.mybankTitlePane > .dijitTitlePaneContentOuter,
.mybankTitlePane > .dijitTitlePaneContentOuter > .dijitReset > .dijitTitlePaneContentInner,
.mybankTitlePane > .dijitTitlePaneContentOuter > .dijitReset > .dijitTitlePaneContentInner > .BTTTableStyle > .BTTRowStyle > .BTTCellStyle {
	padding:0px !important;
}