.mybankSlider .dijitSliderImageHandleH {
	background-image: url("SliderHandlerH.png") !important;
	width: 14px !important;
	height: 27px !important;
	background-position: 0 0 !important;
}

.mybankSlider .dijitSliderHover .dijitSliderImageHandleH,
.mybankSlider .dijitSliderProgressBarH .dijitSliderThumbHover,
.mybankSliderV .dijitSliderHover .dijitSliderImageHandleV,
.mybankSliderV .dijitSliderProgressBarV .dijitSliderThumbHover {
  background-position: 0 0 !important;
}

.mybankSlider .dijitSliderBarContainerH .dijitSliderProgressBarH,
.mybankSlider.dijitSlider .dijitSliderLeftBumper {
	background-image: url("sliderHorizontal.png") !important;
	background-position: 0 0 !important;
	background-repeat: repeat-x;
	height:13px !important;
}

.mybankSlider.dijitSlider .dijitSliderLeftBumper {
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}

.mybankSlider.dijitSlider .dijitSliderRightBumper {
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
}

.mybankSlider .dijitSliderBarContainerH .dijitSliderRemainingBarH,
.mybankSlider.dijitSlider .dijitSliderRightBumper {
	background-image: url("sliderHorizontalRemain.png") !important;
	background-position: 0 0 !important;
	background-repeat: repeat-x;
	height:13px;
}

.mybankSliderV .dijitSliderImageHandleV {
	background-image: url("SliderHandlerV.png") !important;
	width: 23px !important;
	height: 14px !important;
	background-position: 0 0 !important;
}

.mybankSliderV .dijitSliderBarContainerV .dijitSliderProgressBarV,
.mybankSliderV.dijitSlider .dijitSliderBottomBumper {
	background-image: url("sliderHorizontalV.png") !important;
	background-position: 0 0 !important;
	background-repeat: repeat-y;
	width:13px !important;
}

.mybankSliderV .dijitSliderBarContainerV .dijitSliderRemainingBarV,
.mybankSliderV.dijitSlider .dijitSliderTopBumper {
	background-image: url("sliderHorizontalRemainV.png") !important;
	background-position: 0 0 !important;
	background-repeat: repeat-y;
	width:13px !important;
}

.mybankSliderV.dijitSlider .dijitSliderBottomBumper {
	border-bottom-right-radius:6px !important;
	border-bottom-left-radius:6px !important;
}
.mybankSliderV.dijitSlider .dijitSliderTopBumper {
	border-top-right-radius:6px !important;
	border-top-left-radius:6px !important;
}