.buttonTextVerticalAlignTop {
}


.buttonTextVerticalAlignTop .dijitButtonNode{
		display:table-cell;
		vertical-align:top;
}

.buttonTextVerticalAlignBottom {
}


.buttonTextVerticalAlignBottom .dijitButtonNode{
		display:table-cell;
		vertical-align:bottom;
}

.buttonTextVerticalAlignMiddle {
}


.buttonTextVerticalAlignMiddle .dijitButtonNode{
		display:table-cell;
		vertical-align:middle;
}

.roundedCornersOne {
}

.roundedCornersOne .dijitButtonNode{
	-moz-border-radius: 20px !important;
	-webkit-border-radius: 20px !important;
	-khtml-border-radius: 20px !important;
	border-radius: 20px !important;
	font-family: "Times New Roman", Times, serif !important;
	background-color: red !important;
}

.roundedCornersTwo {
}

.roundedCornersTwo .dijitButtonNode{
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	-khtml-border-radius: 10px !important;
	border-radius: 10px !important;
	background-color: lime !important;
}

