#accountDetail_generalPanel {
	WIDTH: 700px;
	BORDER-TOP: 2px solid;
	BORDER-RIGHT: 1px solid;
	BORDER-BOTTOM: 1px solid;
	BORDER-LEFT: 1px solid;
	
}
#accountDetail_generalPanel TD:nth-child(odd) {
	WIDTH: 170px;
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #f2f0f9;
	PADDING-RIGHT: 7px;
	COLOR: #6464b4;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px;
	BORDER-TOP: 1px solid;
	BORDER-RIGHT: none;
	BORDER-BOTTOM: none;
	BORDER-LEFT: none;
	
}

#accountDetail_generalPanel TD:nth-child(even) {
	WIDTH: 160px;
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #ffffff;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #666666;
	PADDING-TOP: 5px;
	BORDER-TOP: 1px solid;
	BORDER-RIGHT: none;
	BORDER-BOTTOM: none;
	BORDER-LEFT: none;
}
#accountDetail_detailsPanel {
	WIDTH: 700px;
	BORDER-TOP: 2px solid;
	BORDER-RIGHT: 1px solid;
	BORDER-BOTTOM: 1px solid;
	BORDER-LEFT: 1px solid;
	
}
#accountDetail_detailsPanel TD:nth-child(odd) {
	WIDTH: 160px;
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #f2f0f9;
	PADDING-RIGHT: 7px;
	COLOR: #6464b4;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px;
	BORDER-TOP: 1px solid;
	BORDER-RIGHT: none;
	BORDER-BOTTOM: none;
	BORDER-LEFT: none;
}
#accountDetail_detailsPanel TD:nth-child(even) {
	WIDTH: 160px;
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #ffffff;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #666666;
	PADDING-TOP: 5px;
	BORDER-TOP: 1px solid;
	BORDER-RIGHT: none;
	BORDER-BOTTOM: none;
	BORDER-LEFT: none;
}

.tb_line {
	BACKGROUND-COLOR: #c3c1d8
}

.tb_line1 {
	BACKGROUND-COLOR: #c3c1d8;
	WIDTH: 100%;
	HEIGHT: 1px
}

.tb_line2 {
	BACKGROUND-COLOR: #c3c1d8;
	WIDTH: 100%;
	HEIGHT: 1px
}

.input_title {
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #f2f0f9;
	PADDING-RIGHT: 7px;
	COLOR: #6464b4;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px
}

.tb_content {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #ffffff;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #666666;
	PADDING-TOP: 5px
}

.tb_content2 {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #fafafa;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #666666;
	PADDING-TOP: 5px
}

.tb_content3 {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #ffffff;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #444444;
	PADDING-TOP: 5px
}

.tb_content4 {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #ffffff;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #444444;
	PADDING-TOP: 5px
}

.tb_content5 {
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #ececec;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 10px;
	COLOR: #666666;
	PADDING-TOP: 5px
}

.tb_content6 {
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #ebecef;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #414141;
	PADDING-TOP: 5px
}