
.inqH {
	BORDER-BOTTOM: #b2b2d6 1px solid; BORDER-LEFT: #c3c1d8 1px solid; BORDER-TOP: #9895c4 2px solid; BORDER-RIGHT: #c3c1d8 1px solid
}
.inqH THEAD TH {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 8px
}
.inqH TBODY TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 8px
}
.inqH TFOOT TH {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 8px
}
.inqH TBODY TD.alignright {
	TEXT-ALIGN: right
}
.inqH tfood TH {
	BORDER-BOTTOM: #c3c1d8 1px solid; BORDER-RIGHT: #c3c1d8 1px solid
}
.inqH THEAD TH {
	BORDER-BOTTOM: #c3c1d8 1px solid; BORDER-RIGHT: #c3c1d8 1px solid
}
.inqH TBODY TD {
	BORDER-BOTTOM: #c3c1d8 1px solid; BORDER-RIGHT: #c3c1d8 1px solid
}
.inqH TBODY TR.bg {
	BACKGROUND: #fafafa
}
.inqH TBODY.bg {
	BACKGROUND: #fafafa
}
.inqH TBODY TD.cellbg {
	BACKGROUND: #fafafa
}
.inqH THEAD TH {
	BACKGROUND: #f2f0f9; COLOR: #6464b4; FONT-WEIGHT: normal
}
.inqH TBODY TH {
	BACKGROUND: #f2f0f9; COLOR: #6464b4; FONT-WEIGHT: normal
}
.inqH TBODY TD A {
	TEXT-DECORATION: none
}
.inqH TBODY TD A:visited {
	TEXT-DECORATION: none
}
.inqH TBODY TD A:hover {
	TEXT-DECORATION: underline
}
.inqH TFOOT TH {
	TEXT-ALIGN: left; BACKGROUND: #ffffff
}
.inqH TFOOT TD.total-money {
	TEXT-ALIGN: right; COLOR: #fe7902; FONT-WEIGHT: bold
}
TABLE.inqV TFOOT TD.total-money {
	TEXT-ALIGN: right; COLOR: #fe7902; FONT-WEIGHT: bold
}
.inqH TFOOT TH LI {
	PADDING-LEFT: 7px; BACKGROUND: url(/img/common/bult_arrow1.gif) no-repeat 0px 6px
}