@CHARSET "UTF-8";

body { font-family: 돋움; font-size: 12px; }
body table { font-family: 돋움; font-size: 12px; }

label { font-family: 돋움; font-size: 12px; }

.labelTitle01 { font-size: 14px; font-weight: bold; color: #44658E; padding-left: 8px; }
.labelTitle02 { font-size: 14px; font-weight: bold; padding-left: 8px; color: #44658E; }
.labelTitle03 { font-size: 14px; font-weight: bold; color: #ffffff; }
.labelTitle04 { font-size: 14px; font-weight: bold; color: #44658E; }

.labelHeader01 { font-weight: bold; color: #213F64; }
.labelHeader02 { font-weight: bold; color: #213F64; margin-bottom: 10px; padding-bottom: 10px; }
.labelHeader03 { font-weight: bold; color: #000000; }

.grp01 { }
.grp01 legend { font-weight: bold; }
.grp01 div  { margin-top: 5px; margin-bottom: 8px; margin-left: 10px; }
.grp01 div table tbody tr td  { height: 20px; }

.tbNS { width: 67px; }
.tbNS01 { width: 628px; }

.maTop { margin-top: 50px; }

.backC { background-color: #DFE9F2; }
.backC02 { background-color: #DFE9F2; }

.divCSS01 { border: 1px solid #42638C; }
.divCSS02 { background-color: #F0F6FB; }
.divCSS02 table tbody tr td { height: 10px; }

.view01 { border: 2px solid #C2D2E8; margin-left: 13px; }
.view01 table { }
.view01 table tbody tr td table tbody tr td { height: 10px; }
.view01 table tbody tr td table tbody tr td div { background-color: #E7EDF6; margin: 0px; padding: 0px; }
.view01 table tbody tr td table tbody tr td div table tbody tr td { height: 20px; }
.view01 table tbody tr td table tbody tr td table tbody tr td  { height: 20px; }

.view02 { border: 2px solid #C2D2E8; padding: 0px; padding-left: 0px; margin: 0px; margin-left: 15px; }

.view03 { background-color: #E7EDF6; }
.view03 table tbody tr td { height: 20px; }

.headCSS th { background-color: #E4E4E4; }

.textBold { font-weight: bold; }

.text01 { font-size: 12px; font-weight: bold; color: #446888; }
.text02 { font-size: 14px; font-weight: bold; color: #446888; }
.text03 { font-size: 12px; font-weight: bold; color: #666666; }

.backColor01 { background-color: #ffffff; }

#xuiFile03_p_panel02 { background-color: #DFDFDF; }
#xuiFile03_p_panel01 { background-color: #DFDFDF; }






