.hide {
	/*display:none;*/
	display:none;
}

.display {
	display:block;
	border:0;
	background-color:#CCCCFF;
	margin : 0;
}

.display2 {
	display:block;
	border:0;
	background-color:#FFFFFF;
	margin : 0;
}

.footMark {
	background: none repeat scroll 0 0 #DFFFDE;
}

.dojoxGrid .footMark .rmContentPadding {
	padding:0;
}

.boldFont {
	font-weight:bold;
}

.claro .dijitContentPane {
    padding: 0;
}
