.ke-zeroborder {
	background-color: #BC0021;
	border-collapse: separate;
	border-spacing: 2px;
	font-size: 12px;
}

.nav-background {
	background-image: url('../img/bg_navi.gif');
}

.style4 {
	font-size: 14px;
}
.loginTable{
	background-color: #F9F9F9;
}
.tableTitle{
	background-image: url('../img/bg_title1.gif');
}
.text {
	color: black;
	text-decoration: none;
	line-height: 19px;
}

.button {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	BACKGROUND: #7b7b63;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px;
	FONT: bold 9px sans-serif;
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 2px;
	TEXT-DECORATION: none
}

.trans {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(startX=0, startY=0,
		finishX=100, finishY=100, style=1, opacity=0, finishOpacity=40 );
	BACKGROUND-COLOR: #000
}

.button_tuweb {
	PADDING-RIGHT: 6px;
	PADDING-LEFT: 6px;
	BACKGROUND: #7b7b63;
	PADDING-BOTTOM: 8px;
	MARGIN: 0px;
	FONT: bold 15px sans-serif;
	height: 30px;
	filter: alpha(opacity =           90);
	BORDER-LEFT: #fff 1px solid;
	PADDING-TOP: 8px;
	TEXT-DECORATION: none
}

.smallbox {
	text-align: center;
	border: 0pt;
}

input,textarea,option,select {
	font-size: 9pt;
	font-family: "宋体";
	color: #000000;
	/*border: 1pt solid #CCCCCC;*/
}

input.inputbtn {
	font-family: Verdana;
	font-size: 9pt;
	color: #efefef;
	background-color: #99CCFF;
	border: 5px outset #dfdfdf;
}

.blank_gridleft {
	color: #000000;
	background-color: #ffffff;
}

.grid_trbg {
	background: #F8FBF4;
	line-height: 18px;
}

.input {
	BORDER-RIGHT: #b3b3b3 1px solid;
	BORDER-TOP: #b3b3b3 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #b3b3b3 1px solid;
	BORDER-BOTTOM: #b3b3b3 1px solid;
	BACKGROUND-COLOR: #ededed
}

.text1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #314294;
	TEXT-DECORATION: none
}

.text_gg {
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none
}

.text2 {
	COLOR: #000000;
	TEXT-DECORATION: none
}

.text3 {
	FONT-SIZE: 12px;
	COLOR: #7f7f7f;
	TEXT-DECORATION: none
}

.text4 {
	COLOR: #000000;
	TEXT-DECORATION: none
}

.menu {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

.p {
	TEXT-DECORATION: none
}

.h2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none
}

.h3 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none
}

.menu1 {
	FONT-SIZE: 9pt;
	COLOR: #000000;
	BACKGROUND-COLOR: #ffffff
}

.more {
	COLOR: #bc0021;
	TEXT-DECORATION: none
}

.text21 {
	FONT-SIZE: 14px;
	COLOR: #000000;
	TEXT-DECORATION: none
}

.text20 {
	FONT-SIZE: 14px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none
}

.text2b {
	COLOR: #000000;
	LETTER-SPACING: 1px;
	TEXT-DECORATION: none
}

.text2c {
	COLOR: #ffffff;
	LETTER-SPACING: 1px;
	TEXT-DECORATION: none
}

.BTN {
	background-repeat: no-repeat;
	cursor: hand;
	background-image: url(/icbc/Module/res/ICBCImages/button.gif);
	vertical-align: 10%;
	border: 0;
	width: 56px;
	height: 20px;
	font-size: 12px;
	font-family: "宋体", "Verdana";
}

/*--------------------------------gridview_css------------------------------------------*/
/*fixtablehead*/
.Freezing {
	position: relative;
	table-layout: fixed;
	top: expression(this.offsetParent.scrollTop);
	z-index: 10;
}
/*fixtablehead*/
.Freezing th {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 2px;
}

.Freezing1 {
	position: relative;
	table-layout: fixed;
	top: expression(this.offsetParent.scrollTop-1);
	z-index: 10;
}
/*fixtablehead*/
.Freezing1 th {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 2px;
}
/*grid-head-foot*/
.grid_titlebg {
	font-weight: bold;
	color: #000000;
	text-align: center;
	font-size: 13px;
	background: #ebeadb url(ICBCImages/grid-hrow.gif) repeat-x;
	line-height: 18px; /**/
}
/*grid-RowStyle*/
.grid_rowstyle {
	background-color: #E3EAEB;
}
/*grid-RowStyle-mouseover*/
.grid_rowmouseover {
	background-color: #d9e8fb;
}
/*grid-EditRowStyle*/
.grid_editrowstyle {
	background-color: #7C6F57;
}
/*grid-selectedrowstyle*/
.grid_selectedstyle {
	background-color: #C5BBAF;
	font-weight: bolder;
	color: #333333;
}
/*grid-Alternating*/
.grid_alternatingstyle {
	background-color: White;
}
/*------------------------------------layout--------------------------------------------*/
/*layout-toobar*/
.layout_toobar {
	color: black;
	border-bottom: 1px solid #98c0f4;
	border-top: 1px solid #98c0f4;
	background-image: url(ICBCImages/BGTITLE.gif);
	height: 25px;
}
/*layout css --mouseout*/
.layout_main {
	height: 100%;
	width: 100%;
	background: #C3DAF9 url(ICBCImages/myfeedContent.gif) no-repeat;
	background-repeat: no-repeat;
}
/*layout css --mouseover*/
.layout_main_over {
	height: 100%;
	width: 100%;
	background: #DFEFFF url(ICBCImages/myfeedContent.gif) no-repeat;
	cursor: pointer;
}

.layout_center {
	height: 100%;
	width: 100%;
	background: #C3DAF9 url(ICBCImages/myfeedstree.gif) no-repeat;
	background-repeat: no-repeat;
}
/*layout css --mouseover*/
.layout_center_over {
	height: 100%;
	width: 100%;
	background: #DFEFFF url(ICBCImages/myfeedstree.gif) no-repeat;
	cursor: pointer;
}
/*layout css --mouseout*/
.layout_north {
	height: 100%;
	width: 100%;
	background: #C3DAF9 url(ICBCImages/preview.gif) no-repeat;
	background-repeat: no-repeat;
}
/*layout css --mouseover*/
.layout_north_over {
	height: 100%;
	width: 100%;
	background: #DFEFFF url(ICBCImages/preview.gif) no-repeat;
	cursor: pointer;
}
/*layout css --mouseout*/
.layout_west {
	height: 100%;
	width: 100%;
	background: #C3DAF9 url(ICBCImages/myfeeds.gif) no-repeat;
	background-repeat: no-repeat;
}
/*layout css --mouseover*/
.layout_west_over {
	height: 100%;
	width: 100%;
	background: #DFEFFF url(ICBCImages/myfeeds.gif) no-repeat;
	cursor: pointer;
}
/**/
.layout_splitsouth {
	color: black;
	border-bottom: 1px solid #98c0f4;
	border-top: 1px solid #98c0f4;
	background: #DFEFFF url(ICBCImages/s-handle.gif) no-repeat;
	width: 100%;
	background-position: top;
}

.layout_splitwest {
	color: black;
	border-left: 1px solid #98c0f4;
	border-right: 1px solid #98c0f4;
	background: #DFEFFF url(ICBCImages/e-handle.gif) no-repeat;
	height: 100%;
	background-position: left;
}

.x-layout-split {
	position: absolute;
	height: 5px;
	width: 5px;
	line-height: 1px;
	font-size: 1px;
	z-index: 3;
	background-color: #c3daf9;
}
/*layout-button*/
.x-layout-tools-button {
	z-index: 6;
	padding: 2px;
	cursor: pointer;
	/*float:right;*/
}

.x-layout-tools-button-over {
	padding: 1px;
	cursor: pointer;
	border: 1px solid #98c0f4;
	background-color: white;
}

/*button style*/
.SMALLBTN_IMG_HIDDEN {
	background-repeat: no-repeat;
	cursor: hand;
	background-image: url(ICBCImages/smallbtn.gif);
	visibility: hidden;
	vertical-align: 10%;
	border: 0;
	width: 28px;
	height: 20px;
	font-size: 12px;
	font-family: "宋体", "Verdana";
}

.SMALLBTN_IMG {
	background-repeat: no-repeat;
	cursor: hand;
	background-image: url(ICBCImages/smallbtn.gif);
	vertical-align: 10%;
	border: 0;
	width: 28px;
	height: 20px;
	font-size: 12px;
	font-family: "宋体", "Verdana";
}

.BIGBTN_IMG {
	background-repeat: no-repeat;
	cursor: hand;
	background-image: url(ICBCImages/bigbutton.gif);
	vertical-align: 10%;
	border: 0;
	width: 120px;
	height: 20px;
	font-size: 12px;
	font-family: "宋体", "Verdana";
}

.BTN_IMGHIDDEN2 {
	background-repeat: no-repeat;
	cursor: hand;
	visibility: hidden;
	background-image: url(ICBCImages/button.gif);
	vertical-align: 10%;
	border: 0;
	width: 56px;
	height: 20px;
	font-size: 12px;
	font-family: "宋体", "Verdana";
}

.BTN_IMGHIDDEN {
	background-repeat: no-repeat;
	cursor: hand;
	display: none;
	background-image: url(ICBCImages/button.gif);
	vertical-align: 10%;
	border: 0;
	width: 56px;
	height: 20px;
	font-size: 12px;
	font-family: "宋体", "Verdana";
}

.BTN_IMG {
	background-repeat: no-repeat;
	cursor: hand;
	background-image: url(ICBCImages/button.gif);
	vertical-align: 10%;
	border: 0;
	width: 56px;
	height: 20px;
	font-size: 12px;
	font-family: "宋体", "Verdana";
}
/*button in this panel*/
.BTN_PANEL {
	background-image: url(ICBCImages/panel-title-light-bg.gif);
	height: 25px;
	text-align: center;
}
/*tree-div*/
.tree_backmouseout {
	background-color: inherit;
}

.tree_backmouseover {
	background-color: Gray;
	height: 18px;
	text-align: left;
}

.tree_backclick {
	height: 18px;
	background-color: Yellow;
}
/*fieldset*/
.fieldset_css {
	border-color: White;
	width: 100%;
}
/*hidden-gridview*/
.hiddencol {
	display: none;
}

/*legend*/
.legend_css {
	color: Blue;
}

.mouseover_left {
	background: #F0F7FD url(ICBCImages/c4.gif) no-repeat;
}

.mouseover_right {
	background: #F0F7FD url(ICBCImages/c5.gif) no-repeat;
}

/*pointer*/
.pointer_up {
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}

.pointer_down {
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}

.fontCSS {
	vertical-align: middle;
}
/*DIV . 布局   ——  由于Session失效跳转页面，所以决定采用DIV布局页面*/
/*两列布局*/
#threeColLayout #primaryContent {
	float: left;
	width: 270px;
	margin: 0 0 20px 195px
}

#secondaryContent {
	float: left;
	width: 270px;
	margin: 0 0 20px 15px;
}

#sideContent {
	float: left;
	width: 180px;
	margin: 0 0 20px -750px;
}
/*三列布局*/
#twoColLayout #primaryContent {
	width: 555px;
	float: left;
	margin: 0 0 20px 195px;
}
/*流体布局*/
#container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#masthead {
	position: relative;
	background: #F7F7F4 url(ICBCImages/BGTITLE.gif);
	height: 90px;
}

#content {
	float: left;
	width: 180px;
}

#sidebar {
	float: right;
}

#class .loading-indicator {
	font-size: 12px;
	height: 18px;
}

#loading {
	position: absolute;
	left: expression((         document.body.offsetWidth-this.offsetWidth)/2
		);
	top: exception((         document.body.offsetHeight-this.offsetHeight)/2
		);
	border: 1px solid #6593cf;
	padding: 2px;
	background: #c3daf9;
	width: 150px;
	text-align: center;
	z-index: 20001;
}

#loading .loading-indicator {
	border: 1px solid #a3bad9;
	background-color: white;
	color: #003366;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
}

.dis {
	width: 100%;
	background-color: #0066FF;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-moz-opacity: 0.5;
	filter: alpha(opacity =         10);
	z-index: 19999;
	height: 100%;
}

.exceptionMessageHidden {
	position: absolute;
	display: none;
	color: Black;
	font-weight: bolder;
	font-size: 12px;
}

.exceptionMessageDisplay {
	position: absolute;
	display: block;
	color: Black;
	font-weight: bolder;
	font-size: 12px;
}

#header {
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	width: 100%;
	height: 27px;
	text-align: center;
}

#header2 {
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	width: 100%;
	height: 27px;
	text-align: center;
}
/*#contain {   
    margin-right: auto;   
    margin-left: auto;   
    padding: 0px;   
    width: 100%;   
    
    height: 162px;   
    text-align: center;   
} */
#toobars {
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	width: 100%;
	text-align: center;
}

#footer {
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	width: 100%;
}

.tdss {
	text-align: left;
	height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*面包屑控件样式类*/
.icbcUserControlCrumb_text3 {
	font-size: 12px;
	color: Black;
	text-decoration: none;
}

/*搜索框控件样式类*/
.icbcUserControlSearchframe_search {
	/*cursor:hand;     background-color:#ffffff;    border-width:0px;*/
	text-decoration: none;
	font-size: 12px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}
/*网上调查问卷列表控件样式类*/
.icbcUserControlQuestionnaireList_questionnaire {
	font-size: 12px;
	text-decoration: none;
}
/*纵向图片控件样式类*/
.commonprotraitimage {
	color: #000000;
	font-size: 12px;
	text-decoration: none;
}

/*摘要列表控件样式类*/
.channelSummaryListLink {
	font-size: 14px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

.channelSummaryListDate {
	font-size: 14px;
	color: red;
	text-decoration: none;
}

/*新闻头条控件样式类*/
.channelTopNewsLink {
	font-size: 14px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

.channelTopNewsDate {
	font-size: 20px;
	color: Black;
	text-decoration: none;
}

.channelSummaryListTitle {
	font-size: 18px;
	color: red;
	font-weight: bold;
	text-decoration: none;
}

/*设置频道导航条的样式开始*/
/***一级频道未被选中的样式***/
.navigationBarUnSelectedFisrtChannelStyle {
	color: #000000;
	line-height: 18px;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

td.navigationBarUnSelectedFisrtChannelStyle {
	width: 150px;
	height: 21px;
	font-size: 12px;
	background-color: #bc0021;
}

/***一级频道被选中的样式***/
.navigationBarSelectedFisrtChannelStyle {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	width: 150px;
}

td.navigationBarSelectedFisrtChannelStyle {
	width: 150px;
	height: 21px;
	background-color: #cccccc
}

.
/***频道导航条当前频道样式***/
.navigationBarCurrentChannelStyle {
	color: #bc0021;
	line-height: 18px;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

/***频道导航条子频道样式***/
.navigationBarSubChannelStyle {
	color: #7f7f7f;
	text-decoration: none;
	height: 21px;
	width: 150px;
}

td.navigationBarSubChannelStyle {
	width: 150px;
	height: 21px;
	background-color: White;
	/**border-bottom: 1px solid #bc0021;*/
}

/***频道风格定义***/
.navigationBarOtherChannelStyle {
	color: #7f7f7f;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

td.navigationBarOtherChannelStyle {
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

/*************************设置导航条样式结束***************************/

/*网站地图一样式开始*/
/***网站地图一的样式***/
.sitemap1text1 {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-size: 12px
}

.sitemap1text3 {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px
}

A.sitemap1text3:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px
}

A.sitemap1text3:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline;
	font-size: 12px
}

A.sitemap1text3:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px
}

.sitemap1text2 {
	COLOR: #bc0021;
	TEXT-DECORATION: none;
	font-size: 12px
}

/***网站地图二的样式***/
.sitemap2text1 {
	text-decoration: underline;
	font-weight: bold;
	font-size: 12px
}

.sitemap2text2 {
	text-decoration: underline;
	font-size: 12px
}

/***网站地图三的样式***/
.sitemap3text1 {
	text-decoration: underline;
	font-size: larger
}

.sitemap3text2 {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	height: 40px;
}

/***网站地图四的样式***/
.sitemap4text1 {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

A.sitemap4text1:link {
	COLOR: #000000;
	TEXT-DECORATION: nonefont-size:12px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.sitemap4text2 {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px
}

A.sitemap4text2:link {
	COLOR: #000000;
	TEXT-DECORATION: nonefont-size:12px
}

.sitemap4text3 {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px
}

/*网站地图样式结束*/
/*功能优化控件样式-开始*/
/*功能优化搜索按钮样式*/
.optimizeSearchButton {
	background-repeat: no-repeat;
	cursor: hand;
	background-image: url(/icbc/Module/res/ICBCImages/button.gif);
	vertical-align: 10%;
	border: 0;
	width: 56px;
	height: 20px;
	font-size: 12px;
	font-family: "宋体", "Verdana";
}

/*功能优化标题样式*/
.optimizeSearchCaption {
	color: black;
	border-bottom: 1px solid #98c0f4;
	border-top: 1px solid #98c0f4;
	background-image: url(/icbc/Module/res/ICBCImages/BGTITLE.gif);
	height: 25px;
	font-size: 12px;
	font-family: "宋体", "Verdana";
}

.optimizeSearchText {
	font-size: 12px;
}

/*功能优化外汇牌价英文搜索*/
.optimizeQuotionEngSearch {
	font-size: 12px;
	font-family: "Geneva", "Arial", "Helvetica", "san-serif";
	text-decoration: none;
}
/*功能优化控件样式-结束*/

/*****************************************/
/*************AUTHOR:冯志欣**************/
/******mail:fenzhixin@neusoft.com*******/
/**************************************/

/*通用分割符样式，可通用，两种 一 用背景颜色分割 二 用背景图片分割*/
.common_seperator {
	height: 1px;
}

.common_seperator_color {
	background-color: #EDEDED;
}

.common_seperator_background {
	background-image: url(/icbc/html/stock/images/rep_2.jpg);
}
/***********************通用分割符样式结束****************************/

/*特殊页面二的使用样式-begin*/
.SPTM_table {
	width: 580px;
}

.SPTM_title_text2 {
	color: #bc0021;
	text-decoration: none;
	font-size: 14px;
}

.SPTM_summary_text2 {
	color: #bc0021;
	text-decoration: none;
	font-size: 14px;
}
/*特殊页面二的使用样式-end*/

/*特殊页面一的使用样式-begin*/
.SPOM_title_text20 {
	font-size: 14px;
	color: #169abb;
	line-height: 18px;
	text-decoration: none;
}

.SPOM_table_text20 {
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	width: 580px;
}
/*特殊页面一的使用样式-end*/

/*通用信息列表(包含扩展属性模块)的使用样式-begin*/
.CIM_table {
	text-decoration: none;
	color: #000000;
	width: 410px;
	font-size: 14px;
}

.CIM_date_text2 {
	color: #000000;
	font-family: "宋体";
	font-size: 14px;
	text-decoration: none;
}

.CIM_more {
	color: #bc0021;
	text-decoration: none;
}

.CIM_before_text {
	color: #bc0021;
	text-decoration: none;
}

/*通用信息列表的使用样式-end*/

/*表格信息模块(包含手工)的使用样式-begin*/
.tInfoModule_jcsh {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}

.tInfoModule_tablejcsh {
	color: #000000;
	background-color: #F2F2F2;
	width: 100%;
	text-align: center;
}

.tInfoModule_texte2 {
	font-size: 12px;
	line-height: 20px;
	color: #696969;
	text-decoration: none;
}

.tInfoModule_style80 {
	color: #FF9900;
}

.tInfoModule_table {
	height: 105px;
	width: 160px;
	text-align: left;
}
/*表格信息模块(包含手工)的使用样式-end*/

/****************************************END*****************************************/

/*************************************树形菜单1开始***********************************/
/*********第一级未选定的栏目样式********/
.MenuTree1_unselectedfirstlayer {
	color: #FFFFFF;
	line-height: 18px;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

/***********第一级选定的栏目样式*****************/
.MenuTree1_selectedfirstlayer {
	color: #FFFFFF;
	line-height: 18px;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

td.MenuTree1_selectedfirstlayer {
	width: 100%;
	font-size: 12px;
	background-color: #cccccc;
}

/*******************其它未选中栏目的样式******************************/
.MenuTree1_unselectedotherlayer {
	color:;
	line-height: 18px;
	text-decoration: none;
	font-size: 12px;
}

/***********其它选定的栏目样式*****************/
.MenuTree1_selectedotherlayer {
	color: #bc0021;
	line-height: 18px;
	text-decoration: none;
	font-size: 12px;
}

td.MenuTree1_selectedotherlayer {
	color: #bc0021;
	width: 100%;
	font-size: 12px;
	background-color: Green;
}
/*树形菜单1结束*/

/* 树状菜单2 xuzhp@neusoft.com */
/********************** 未选中的第一级菜单 ************************/
.MenuTree2_unselectedfirstlayer {
	COLOR: #680b19;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none;
	FONT-SIZE: 12px;
}

/***************树状菜单2  未被选中的其它级菜单  *****************/
.MenuTree2_unselectedotherlayer {
	FONT-SIZE: 11px;
	COLOR: #808080;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none
}

/***************树状菜单2  被选中的第一级菜单  *****************/
.MenuTree2_selectedfirstlayer {
	COLOR: #c60001;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none;
	FONT-SIZE: 12px;
	font-weight: bold;
}

/***************树状菜单2  被选中的其它级菜单  *****************/
.MenuTree2_selectedotherlayer {
	COLOR: #c60001;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none;
	FONT-SIZE: 12px;
	font-weight: bold;
}

/******************** 二级页列表开始 ************************************/
/**************** 日期样式 ************/
.secondarypagelist_date {
	color: #334496;
	FONT-SIZE: 14px;
	line-height: 18px;
	font-family: '隶书'
}

/**************** 更多样式 , 文章标题样式 , 翻页样式************/
.icbcNewUserControls_secondarypagelist_titleStyle {
	color: #267f7a;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none;
}

.icbcNewUserControls_secondarypagelist_more {
	width: 45px;
	text-align: right;
}

.icbcNewUserControls_secondarypagelist_perCharacterStyle {
	color: #ff6600;
}

.icbcNewUserControls_secondarypagelist_infoStyle {
	FONT-SIZE: 14px;
	COLOR: #000000;
	TEXT-DECORATION: none;
}

/**************** 表格样式 ************/
.secondarypagelist_table {
	FONT-SIZE: 12px;
	COLOR: #000000;
	TEXT-DECORATION: none;
}

/******************** 二级页列表结束 ************************************/

/*下拉框模块样式类(包括手动)*/
.icbcNewUserControls_DropDownList_ddt {
	border-color: #ADC8F7;
	background-color: #ffffff;
}

/*图文信息模块一*/
.icbcNewUserControls_ImageArticle_module {
	font-size: 16px;
	color: Black;
	font-weight: bold;
}

.icbcNewUserControls_ImageArticle_moreText {
	font-size: 14px;
	color: Black;
	font-weight: bold;
}

.icbcNewUserControls_ImageArticle_title {
	font-size: 14px;
	color: red;
	font-weight: bold;
}

.icbcNewUserControls_ImageArticle_summary {
	font-size: 14px;
	color: black;
}

.icbcNewUserControls_ImageArticle_divisionTS {
	/*background-image:url(http://localhost/icbc/Module/res/ExtraTemplates/UCImg/rep_1.jpg);*/
	
}

.icbcNewUserControls_ImageArticle_infoDivision {
	/*background-image:url(http://localhost/icbc/Module/res/ExtraTemplates/UCImg/rep_1.jpg);*/
	
}

.icbcNewUserControls_ImageArticle_more {
	font-size: 12px;
	color: Red;
	font-weight: normal;
}

/*图文信息模块二（一图对多文）*/

/* 横向滚动信息 */
.icbcNewUserControls_HorizontalRollingInfo_infontCharacter {
	/*background-image:url(http://localhost/icbc/Module/res/ExtraTemplates/UCImg/ticket_bg.gif);*/
	font-size: 12px;
	color: red;
}

.icbcNewUserControls_HorizontalRollingInfo_infont {
	text-decoration: none;
	font-size: 12px;
	color: Blue;
	font-weight: bold;
}

/*导航栏2 */
.icbcNewUserControls_NavigationBar2_division_Symbol {
	font-family: 宋体;
	color: gray;
}

.icbcNewUserControls_NavigationBar2_noSelect {
	color: Black;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.icbcNewUserControls_NavigationBar2_select {
	color: Red;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

/* 日期时间模块*/
.icbcNewUserControls_Date_date {
	font-size: 12px;
	color: Black;
	font-weight: normal;
}

．icbcNewUserControls_CommodityRolling_commodityInfo {
	font-size: 12px;
	color: Black;
	font-weight: normal;
}

/* 带推荐信息模块（包括手工） */
.icbcNewUserControls_CommendInfo_commendInfoStyle {
	font-size: 12px;
	color: Black;
	font-weight: normal;
	background-color: #ffffff;
}

.icbcNewUserControls_CommendInfo_commendInfoTitleStyle {
	font-size: 16px;
	color: Red;
	font-weight: bold;
}

.icbcNewUserControls_CommendInfo_commendInfoSummaryStyle {
	font-size: 12px;
	color: Black;
	font-weight: normal;
}

.icbcNewUserControls_CommendInfo_commendInfoDetailStyle {
	font-size: 12px;
	color: Black;
	font-weight: normal;
	text-decoration: none;
}

.icbcNewUserControls_CommendInfo_subordinationInfoStyle {
	font-size: 12px;
	color: Black;
	font-weight: normal;
	text-decoration: none;
}

.icbcNewUserControls_CommendInfo_subordinationInfoDateStyle {
	font-size: 12px;
	color: Black;
	font-weight: normal;
}

.icbcNewUserControls_CommendInfo_DivisionPSInfoStyle {
	/*background-image:url(http://localhost/icbc/Module/res/ExtraTemplates/UCImg/ticket_bg.gif);*/
	
}

/* 栏目和信息调用模块（包括手工） */
.icbcNewUserControls_ChannelPostingInvoke_characterStyle {
	color: Black;
}

.icbcNewUserControls_ChannelPostingInvoke_tableStyle {
	border: 0;
	border-spacing: 0;
	vertical-align: top;
}

.icbcNewUserControls_ChannelPostingInvoke_channelStyle {
	font-weight: bolder;
	font-size: 12px;
	color: Black;
	text-decoration: none;
}

.icbcNewUserControls_ChannelPostingInvoke_infoStyle {
	font-size: 12px;
	color: Red;
	font-weight: normal;
	text-decoration: none;
}

/*相关链接*/
.ralatingPageForTemplate {
	font-size: 12px;
	color: black;
	font-weight: 900;
	text-decoration: none;
}

/*理财类信息模板，业务类信息模板*/
/*模板标题样式*/
.icbcFinanceAndOperationMessageTemplate_text19 {
	font-size: 24pt;
	font-weight: bold;
	text-decoration: none;
}
/*模板副标题样式*/
.icbcFinanceAndOperationMessageTemplate_text20 {
	font-size: 24px;
	font-weight: bold;
	color: Black;
	text-decoration: none;
}

.icbcFinanceAndOperationMessageTemplate_text21 {
	FONT-SIZE: 14px;
	COLOR: #000000;
	TEXT-DECORATION: none
}

.icbcFinanceAndOperationMessageTemplate_bgimg {
	background-image: url(/icbc/Module/res/rep_22.jpg);
	background-position: center;
	background-color: Transparent;
	background-repeat: repeat;
}

/*导航栏模块（栏目扩展属性相关）开始*/
.icbcNavigationFromChannelInfoControl {
	font-size: 12px;
	background-color: #EAEAEA;
}

.icbcNavigationFromChannelInfoSplit {
	color: Black;
}

.icbcNavigationFromChannelInfoUnSelect {
	COLOR: #000000;
	TEXT-DECORATION: none
}

.icbcNavigationFromChannelInfoSelect {
	COLOR: #bc0021;
	TEXT-DECORATION: none
}

/*导航栏模块（栏目扩展属性相关）结束*/

/*品牌服务区模块（栏目扩展属性相关）开始*/
.icbcBrandServiceAreaHeader {
	font-weight: bold;
	background-position: 100px;
	background-image: url(/icbc/Module/res/rep_22.jpg);
	background-repeat: repeat-y;
	border-color: Black;
	background-color: Yellow;
}

.icbcBrandServiceAreaTable {
	font-size: 14px;
}
/*品牌服务区模块（栏目扩展属性相关）结束*/

/*相关文章模块（栏目扩展属性相关）开始*/
.icbcCorrelativeArticleHeader {
	background-color: #B0E0E6;
	font-weight: bold;
	font-size: 14px;
}

.icbcCorrelativeArticleControl {
	font-size: 14px;
}

.icbcCorrelativeArticleDate {
	font-size: 14px;
	color: Gray;
}

.icbcCorrelativeArticleSplit {
	height: 0px;
	background-image: url(/icbc/Module/res/rep_22.jpg);
	background-repeat: repeat-x;
}

.icbcCorrelativeArticleForwardStyle {
	color: Red;
}
/*相关文章模块（栏目扩展属性相关）结束*/
.dis {
	width: 100%;
	background-color: #0066FF;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-moz-opacity: 0.5;
	filter: alpha(opacity =         10);
	z-index: 19999;
	height: 100%;
}
/*Moss 页面编辑的相关css Add By DJ */
.ICBC_Hidden_CSS {
	border: solid 1px gray;
	display: none;
}

.ms-formfieldlabel {
	display: none;
}

.input {
	BORDER-RIGHT: #b3b3b3 1px solid;
	BORDER-TOP: #b3b3b3 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #b3b3b3 1px solid;
	BORDER-BOTTOM: #b3b3b3 1px solid;
	BACKGROUND-COLOR: #ededed
}

.text1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #314294;
	TEXT-DECORATION: none
}

.text_gg {
	COLOR: #000000;
	TEXT-DECORATION: none;
	line-height: 18px;
}

.text2 {
	COLOR: #000000;
	TEXT-DECORATION: none
}

.text3 {
	FONT-SIZE: 12px;
	COLOR: #7f7f7f;
	TEXT-DECORATION: none
}

.text4 {
	COLOR: #000000;
	TEXT-DECORATION: none
}

.menu {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

.p {
	LINE-HEIGHT: 300%;
	TEXT-DECORATION: none
}

.h2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none
}

.h3 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none
}

.menu1 {
	FONT-SIZE: 9pt;
	COLOR: #000000;
	BACKGROUND-COLOR: #ffffff
}

.more {
	color: bc0021;
	text-decoration: none
}

.text21 {
	FONT-SIZE: 14px;
	COLOR: #000000;
	TEXT-DECORATION: none
}

.text20 {
	FONT-SIZE: 14px;
	COLOR: #000000;
	TEXT-DECORATION: none;
	line-height: 18px;
}

.text2b {
	COLOR: #000000;
	TEXT-DECORATION: none
}

.text2c {
	COLOR: #ffffff;
	LETTER-SPACING: 1px;
	TEXT-DECORATION: none
}

.style4 {
	COLOR: #990000
}

.Wdate {
	border: #999 1px solid;
	height: 20px;
	background: #fff url(datePicker.gif) no-repeat right;
}

.WdateFmtErr {
	font-weight: bold;
	color: red;
}