a {
	color: black;
	text-decoration: none;
	line-height: 19px;
}

A.button {
	COLOR: #ffffff;
	FONT-FAMILY: sans-serif;
	BACKGROUND-COLOR: #000000;
	TEXT-DECORATION: none
}

A.button:link7c2f535exa9bfx4badx94efxef56491ce056 {
	COLOR: #ffffff;
	FONT-FAMILY: sans-serif;
	BACKGROUND-COLOR: #000000;
	TEXT-DECORATION: none
}

A.button:visited {
	COLOR: #ffffff;
	FONT-FAMILY: sans-serif;
	BACKGROUND-COLOR: #000000;
	TEXT-DECORATION: none
}

A.button:hover {
	BACKGROUND: #fff;
	COLOR: #fff;
	FONT-FAMILY: sans-serif;
	TEXT-DECORATION: none
}

A.button_tuweb {
	COLOR: #ffffff;
	FONT-FAMILY: sans-serif;
	BACKGROUND-COLOR: #666666;
	TEXT-DECORATION: none
}

A.button_tuweb:link {
	COLOR: #ffffff;
	FONT-FAMILY: sans-serif;
	BACKGROUND-COLOR: #666666;
	TEXT-DECORATION: none
}

A.button_tuweb:visited {
	COLOR: #ffffff;
	FONT-FAMILY: sans-serif;
	BACKGROUND-COLOR: #666666;
	TEXT-DECORATION: none
}

A.button_tuweb:hover {
	BACKGROUND: #ffffff;
	COLOR: #fff;
	FONT-FAMILY: sans-serif;
	TEXT-DECORATION: none
}

TD {
	FONT-SIZE: 12px;
	TEXT-DECORATION: none
}

INPUT {
	FONT-SIZE: 12px;
	COLOR: #000000;
	TEXT-DECORATION: none
}

BODY {
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体", "Verdana";
	padding: 0px;
	margin: auto;
	text-decoration: none;
	letter-spacing: 0.5pt;
	MARGIN: 0;
}

HTML {
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体", "Verdana";
	padding: 0px;
	margin: auto;
	text-decoration: none;
	letter-spacing: 0.5pt;
	MARGIN: 0;
}

SELECT {
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
}

A.text_gg:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text_gg:visited {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text_gg:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: none
}

A.text2:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text2:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.text2:visited {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text3:link {
	COLOR: #7f7f7f;
	TEXT-DECORATION: none
}

A.text3:hover {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text4:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text4:hover {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.menu:link {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.menu:hover {
	COLOR: #000000;
	TEXT-DECORATION: none
}

P {
	TEXT-DECORATION: none
}

H1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 150%;
	TEXT-DECORATION: none
}

H2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none
}

H3 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none
}

A.more:link {
	COLOR: #bc0021;
	TEXT-DECORATION: none
}

A.more:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.text20:link {
	FONT-SIZE: 14px;
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text20:hover {
	FONT-SIZE: 14px;
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.text2b:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text2b:visited {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text2b:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.text2c:link {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.text2c:visited {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.text2c:hover {
	COLOR: #ffffff;
	TEXT-DECORATION: underline
}

/*有全部线单元格*/
TD.tdwithborder {
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	margin: 0px;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体", "Verdana";
	MARGIN: 0;
	color: #003366;
}
/*有下线单元格*/
TD.tdwithbottomline {
	border-bottom: silver 1px solid;
}
/*有上线单元格*/
TD.tdwithtopline {
	border-top: silver 1px solid;
}
/*表格线*/
Table.tablewithborder {
	border-bottom: silver 1px solid;
	border-top: silver 1px solid;
	border-right: silver 1px solid;
	border-left: silver 1px solid;
}

TEXTAREA {
	scrollbar-face-color: #DEE7F7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #C8D0D8;
	scrollbar-darkshadow-color: #000000;
	scrollbar-shadow-color: #808080;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #DEE7F7;
	border: 1px solid #333333;
}

A.SelectedMouseOver:active {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #BBBBBB;
}

A.SelectedMouseOver:link {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #FFFFFF;
}

A.SelectedMouseOver:visited {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #FFFFFF;
}

A.SelectedMouseOver:hover {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #FFFFFF;
}

A.SelectedMouseOut:link {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #BBBBBB;
}

A.SelectedMouseOut:visited {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #BBBBBB;
}

A.SelectedMouseOut:hover {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #BBBBBB;
}

A.unSelectedMouseOver:active {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #FFFFFF;
}

A.unSelectedMouseOver:link {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #BBBBBB;
	BACKGROUND: #FFFFFF;
}

A.unSelectedMouseOver:visited {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #bbbbbb;
	BACKGROUND: #FFFFFF;
}

A.unSelectedMouseOver:hover {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #BBBBBB;
}

A.unSelectedMouseOut:link {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #BBBBBB;
}

A.unSelectedMouseOut:visited {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #ffffff;
}

A.unSelectedMouseOut:hover {
	FONT-SIZE: 12px;
	TEXT-decoration: none;
	COLOR: #FFFFFF;
}

A.channelSummaryListLink:link {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}

A.channelSummaryListLink:hover {
	font-size: 14px;
	color: #bc0021;
	text-decoration: underline;
}

A.channelTopNewsLink:link {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}

A.channelTopNewsLink:hover {
	font-size: 14px;
	color: #bc0021;
	text-decoration: underline;
}

A.navigationBarUnSelectedFisrtChannelStyle:link {
	color: #000000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.navigationBarUnSelectedFisrtChannelStyle:hover {
	color: #ffffff;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

td.navigationBarCurrentChannelStyle {
	color: #bc0021;
	width: 150px;
	height: 21px;
	font-size: 12px;
	background-color: white;
}

A.navigationBarSubChannelStyle:link {
	color: #7f7f7f;
	text-decoration: none;
	height: 21px;
	font-size: 12px;
}

A.navigationBarSubChannelStyle:hover {
	color: #000000;
	text-decoration: none;
	height: 21px;
	font-size: 12px;
}

A.navigationBarOtherChannelStyle:link {
	color: #7f7f7f;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.navigationBarOtherChannelStyle:hover {
	color: Black;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.sitemap1text1:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-size: 12px
}

A.sitemap1text1:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline;
	font-weight: bold;
	font-size: 12px
}

A.sitemap1text1:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-size: 12px
}

A.sitemap1text2:link {
	COLOR: #bc0021;
	TEXT-DECORATION: none;
	font-size: 12px
}

A.sitemap1text2:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline;
	font-size: 12px
}

A.sitemap1text2:visited {
	COLOR: #bc0021;
	TEXT-DECORATION: none;
	font-size: 12px
}

a.sitemap2text1:link {
	color: #009;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-size: 12px
}

a.sitemap2text1:visited {
	color: #800080;
	TEXT-DECORATION: none;
	font-weight: bold;
	font-size: 12px
}

a.sitemap2text1:hover,a.sitemap2text1:active,a.sitemap2text1:focus {
	color: #f00;
	text-decoration: underline;
	font-weight: bold;
	font-size: 12px
}

a.sitemap2text2:link {
	color: #009;
	TEXT-DECORATION: none;
	font-size: 12px
}

a.sitemap2text2:visited {
	color: #800080;
	TEXT-DECORATION: none;
	font-size: 12px
}

a.sitemap2text2:hover,a.sitemap2text2:active,a.sitemap2text2:focus {
	color: #f00;
	text-decoration: underline;
	font-size: 12px
}

a.sitemap3text1:link {
	color: #0000ff;
	TEXT-DECORATION: none;
	font-size: larger
}

a.sitemap3text1:visited {
	color: #0000ff;
	TEXT-DECORATION: none;
	font-size: larger
}

a.sitemap3text1:hover,a.sitemap3text1:active,a.sitemap3text1:focus {
	color: #0000ff;
	text-decoration: underline;
	font-size: larger
}

td.sitemap3text2 {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
}

A.sitemap3text2:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px;
}

A.sitemap3text2:hover {
	COLOR: #000000;
	TEXT-DECORATION: underline;
	font-size: 12px;
}

A.sitemap3text2:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px
}

A.sitemap4text1:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

A.sitemap4text1:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

A.sitemap4text2:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline;
	font-size: 12px
}

A.sitemap4text2:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px
}

A.sitemap4text3:link {
	COLOR: #000000;
	TEXT-DECORATION: nonefont-size:12px
}

A.sitemap4text3:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline;
	font-size: 12px
}

A.sitemap4text3:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-size: 12px
}

A.SPTM_title_text2:link {
	color: #000000;
	text-decoration: none;
}

A.SPTM_title_text2:hover {
	color: #bc0021;
	text-decoration: underline;
}

A.SPTM_title_text2:visited {
	color: #000000;
	text-decoration: none;
}

A.SPOM_title_text20:link {
	font-size: 14px;
	color: #169abb;
	text-decoration: none;
}

A.SPOM_title_text20:hover {
	font-size: 14px;
	color: #169abb;
	text-decoration: underline;
}

A.CIM_table:link {
	color: #000000;
	text-decoration: none;
}

A.CIM_table:hover {
	color: #bc0000;
	text-decoration: underline;
}

A.CIM_date_text2:link {
	color: #000000;
	text-decoration: none;
}

A.CIM_date_text2:hover {
	color: #bc0021;
	text-decoration: underline;
}

A.CIM_date_text2:visited {
	color: #000000;
	text-decoration: none;
}

A.CIM_more:link {
	color: #bc0021;
	text-decoration: none;
}

A.CIM_more:hover {
	color: #bc0021;
	text-decoration: underline;
}

A.tInfoModule_jcsh:link {
	color: #000000;
	text-decoration: none;
}

A.tInfoModule_jcsh:hover {
	color: #bc0000;
	text-decoration: underline;
}

A.tInfoModule_texte2:link {
	color: #696969;
	text-decoration: none;
}

A.tInfoModule_texte2:hover {
	color: #696969;
	text-decoration: underline;
}

A.tInfoModule_texte2:visited {
	color: #696969;
	text-decoration: none;
}

td.MenuTree1_unselectedfirstlayer {
	width: 100%;
	font-size: 12px;
	background-color: #bc0021;
}

A.MenuTree1_unselectedfirstlayer:link {
	color: #FFFFFF;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.MenuTree1_unselectedfirstlayer:hover {
	color: #000000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

td.MenuTree1_unselectedotherlayer {
	width: 100%;
	font-size: 12px;
	background-color: Red;
}

A.MenuTree1_unselectedotherlayer:link {
	color: #000000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.MenuTree1_unselectedotherlayer:hover {
	color: #ff0000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

A.MenuTree1_unselectedotherlayer:visited {
	color: #000000;
	text-decoration: none;
	width: 150px;
	height: 21px;
	font-size: 12px;
}

td.MenuTree2_unselectedfirstlayer {
	background-color: #ffffff;
}

A.MenuTree2_unselectedfirstlayer:link {
	COLOR: #680b19;
	TEXT-DECORATION: none
}

A.MenuTree2_unselectedfirstlayer:hover {
	COLOR: #c60001;
	TEXT-DECORATION: none;
	font-weight: bolder;
}

td.MenuTree2_unselectedotherlayer {
	background-color: #F6F6F6;
}

A.MenuTree2_unselectedotherlayer:link {
	COLOR: #808080;
	TEXT-DECORATION: none
}

A.MenuTree2_unselectedotherlayer:hover {
	COLOR: #c60001;
	TEXT-DECORATION: none;
	font-weight: bolder;
}

td.MenuTree2_selectedotherlayer {
	background-color: #ffffff;
}

td.MenuTree2_selectedotherlayer {
	background-color: #F6F6F6;
	FONT-SIZE: 14px;
}

td.secondarypagelist_date {
	COLOR: #334496;
}

A.icbcNewUserControls_secondarypagelist_titleStyle:hover {
	FONT-SIZE: 14px;
	COLOR: #bc0021;
	TEXT-DECORATION: underline;
}

td.secondarypagelist_table {
	COLOR: #334496;
}

/**************** 分割线样式 ************/
td.secondarypagelist_separator {
	background-color: Red;
}
/**************** 顶部的栏目的样式 ************/
td.secondarypagelist_channel {
	color: Red;
}

/*商品轮播（翻屏竖滚）*/
A.icbcNewUserControls_CommodityRolling_commodityInfo:Link {
	font-size: 16px;
	color: #E49D1F;
	text-decoration: none;
}

A.ralatingPageForTemplate:link {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}

A.ralatingPageForTemplate:hover {
	FONT-SIZE: 14px;
	COLOR: #bc0021;
	TEXT-DECORATION: none;
}

A.icbcNavigationFromChannelInfoUnSelect:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.icbcNavigationFromChannelInfoUnSelect:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.icbcNavigationFromChannelInfoUnSelect:visited {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.icbcNavigationFromChannelInfoSelect:link {
	COLOR: #bc0021;
	TEXT-DECORATION: none
}

A.icbcNavigationFromChannelInfoSelect:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.icbcCorrelativeArticleControl:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.icbcCorrelativeArticleControl:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.icbcCorrelativeArticleControl:visited {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text2_default:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text2_default:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

a.text2_default:visited {
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

a.text2_default:active {
	font-size: 12px;
	font-weight: normal;
	color: #bc0021;
	text-decoration: underline;
}

#class .loading-indicator {
	font-size: 12px;
	height: 18px;
}

#loading {
	position: absolute;
	left: expression((   document.body.offsetWidth-this.offsetWidth)/2 );
	top: 40%;
	border: 1px solid #6593cf;
	padding: 2px;
	background: #c3daf9;
	width: 150px;
	text-align: center;
	z-index: 20001;
}

#loading .loading-indicator {
	border: 1px solid #a3bad9;
	background-color: white;
	color: #003366;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
}

form {
	margin: 0px auto;
}

TD {
	FONT-SIZE: 12px;
	TEXT-DECORATION: none
}

INPUT {
	FONT-SIZE: 12px;
	COLOR: #000000;
	TEXT-DECORATION: none
}

BODY {
	FONT-SIZE: 12px;
	COLOR: #000000;
	TEXT-DECORATION: none
}

SELECT {
	FONT-SIZE: 12px;
	TEXT-DECORATION: none
}

A.text_gg:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text_gg:visited {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text_gg:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: none
}

A.text2:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text2:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.text2:visited {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text3:link {
	COLOR: #7f7f7f;
	TEXT-DECORATION: none
}

A.text3:hover {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text4:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text4:hover {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.menu:link {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.menu:hover {
	COLOR: #000000;
	TEXT-DECORATION: none
}

P {
	LINE-HEIGHT: 150%;
	TEXT-DECORATION: none
}

H1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 150%;
	TEXT-DECORATION: none
}

H2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none
}

H3 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-DECORATION: none
}

a.more:link {
	color: bc0021;
	text-decoration: none
}

a.more:hover {
	color: bc0021;
	text-decoration: underline
}

A.text20:link {
	FONT-SIZE: 14px;
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text20:hover {
	FONT-SIZE: 14px;
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.text2b:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text2b:visited {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A.text2b:hover {
	COLOR: #bc0021;
	TEXT-DECORATION: underline
}

A.text2c:link {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.text2c:visited {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}

A.text2c:hover {
	COLOR: #ffffff;
	TEXT-DECORATION: underline
}