#login_panel {
	MARGIN-LEFT:auto; 
    MARGIN-RIGHT:auto;
    BORDER-SPACING: 0; 
    BORDER-COLLAPSE: collapse;
    BORDER-TOP: #d3cbc0 2px solid;
    BORDER-RIGHT: #d3cbc0 2px solid;
    BORDER-BOTTOM: #d3cbc0 2px solid;
    BORDER-LEFT: #d3cbc0 2px solid;
}
#transferForm_mainPanel {
	MARGIN-LEFT:auto;
    MARGIN-RIGHT:auto;
    BORDER-SPACING: 0;
    BORDER-COLLAPSE: collapse;
}

#transferForm_senderPanel {
	margin-left:auto; 
    margin-right:auto;
    BORDER-SPACING: 0; 
    BORDER-COLLAPSE: collapse;
    BORDER-BOTTOM: #d3cbc0 2px solid; 
    LINE-HEIGHT: 1.2em; 
    WIDTH: 675px; 
    COLOR: #444; 
    BORDER-TOP: #d3cbc0 2px solid;
    BORDER-LEFT : none;
    BORDER-RIGHT : none;
}

#transferForm_senderPanel TD {
	BORDER-LEFT: #e4e4e4 1px solid; 
	BORDER-RIGHT: #e4e4e4 1px solid; 
	BORDER-TOP: #e4e4e4 1px solid; 
}

#transferForm_senderPanel td:first-child {
	WIDTH : 120px;
	BORDER-LEFT: none; 
	BACKGROUND-COLOR: #f1f1f1;
}

#transferForm_senderPanel td:last-child {
	BORDER-RIGHT: none;
}

#transferForm_receiverPanel {
	margin-left:auto; 
    margin-right:auto;
    BORDER-SPACING: 0; 
    BORDER-COLLAPSE: collapse;
    BORDER-BOTTOM: #d3cbc0 2px solid; 
    LINE-HEIGHT: 1.2em; 
    WIDTH: 675px; 
    COLOR: #444; 
    BORDER-TOP: #d3cbc0 2px solid;
    BORDER-LEFT : none;
    BORDER-RIGHT : none;
}

#transferForm_receiverPanel TD {
	BORDER-LEFT: #e4e4e4 1px solid; 
	BORDER-RIGHT: #e4e4e4 1px solid; 
	BORDER-TOP: #e4e4e4 1px solid;
}

#transferForm_receiverPanel td:first-child {
	WIDTH : 120px;
	BORDER-LEFT : none;
	BACKGROUND-COLOR: #f1f1f1;
}

#transferForm_receiverPanel td:last-child {
	BORDER-RIGHT : none;
}

#transferForm_senderAccountPanel td{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_senderAccountPanel td:first-child{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_pinCodePanel td{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_pinCodePanel td:first-child{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_amountPanel td{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_amountPanel td:first-child{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_amountPanel tr{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
}

#transferForm_amountButtonsPanel tr:first-child{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
}


#transferForm_senderDescriptionPanel td{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_senderDescriptionPanel td:first-child{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_receiverAccountPanel td{
	border-left : none;
	border-right : none;
	BORDER-TOP: none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_receiverAccountPanel td:first-child{
	border-left : none;
	border-right : none;
	BORDER-TOP: none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_receiverFavoriteAccountPanel td{
	border-left : none;
	border-right : none;
	BORDER-TOP: none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_receiverFavoriteAccountPanel tr{
	border-left : none;
	border-right : none;
	BORDER-TOP: none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_receiverBankPanel td{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_receiverBankPanel td:first-child{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_receiverDescriptionPanel td{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_receiverDescriptionPanel td:first-child{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_datePanel td{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#transferForm_datePanel td:first-child{
	border-left : none;
	border-right : none;
	border-top : none;
	border-bottom : none;
	BACKGROUND-COLOR: #ffffff;
}

#confirmTransfer_mainPanel {
	margin-left:auto; 
    margin-right:auto;
    BORDER-SPACING: 0; 
    BORDER-COLLAPSE: collapse;
}

#confirmTransfer_senderPanel {
	margin-left:auto; 
    margin-right:auto;
    BORDER-SPACING: 0; 
    BORDER-COLLAPSE: collapse;
    BORDER-BOTTOM: #d3cbc0 2px solid; 
    LINE-HEIGHT: 1.2em; 
    WIDTH: 675px; 
    COLOR: #444; 
    BORDER-TOP: #d3cbc0 2px solid;
    BORDER-LEFT : none;
    BORDER-RIGHT : none;
}

#confirmTransfer_senderPanel TD {
	BORDER-LEFT: #e4e4e4 1px solid; 
	BORDER-RIGHT: #e4e4e4 1px solid; 
	BORDER-TOP: #e4e4e4 1px solid;
}

#confirmTransfer_senderPanel td:first-child {
	BORDER-LEFT: none; 
	BACKGROUND-COLOR: #f1f1f1;
}

#confirmTransfer_senderPanel td:last-child {
	BORDER-RIGHT: none;
}

#confirmTransfer_receiverPanel {
	margin-left:auto; 
    margin-right:auto;
    BORDER-SPACING: 0; 
    BORDER-COLLAPSE: collapse;
    BORDER-BOTTOM: #d3cbc0 2px solid; 
    LINE-HEIGHT: 1.2em; 
    WIDTH: 675px; 
    COLOR: #444; 
    BORDER-TOP: #d3cbc0 2px solid;
    BORDER-LEFT : none;
    BORDER-RIGHT : none;
}

#confirmTransfer_receiverPanel TD {
	BORDER-LEFT: #e4e4e4 1px solid; 
	BORDER-RIGHT: #e4e4e4 1px solid; 
	BORDER-TOP: #e4e4e4 1px solid; 
}

#confirmTransfer_receiverPanel td:first-child {
	BORDER-LEFT : none;
	BACKGROUND-COLOR: #f1f1f1;
}

#confirmTransfer_receiverPanel td:last-child {
	BORDER-RIGHT : none;
}

.oddeven .BTTRepePanelOddRow{
	background-color:#FFFFF9;
}

.oddeven .BTTRepePanelEvenRow{
	background-color:#EFF4FA;
}

.oddeven .BTTRepePanelOddRow:hover{
		BACKGROUND: #D9E8FF;
}

.oddeven .BTTRepePanelEvenRow:hover{
		BACKGROUND: #D9E8FF;
}

.oddeven .BTTRepePanelSelectedRow{
	background:#D9E8F9;
}

.bg-blue{
	background-color:#EFF4FA;
}