.dojoxGridErroressages {
	position: relative;
	padding: 2px;
	color: red;
	text-align: center;
	background-color: #D0E8FF;
	margin-left: 2px;
	margin-right: 1px;
	border-color: transparent #E5DAC8 #E5DAC8 transparent;
	border-style: none none solid none;
	border-width: 0px 1px 1px 0px;
}

.tableTitle {
	background-image: url('../img/bg_title1.gif');
}

.h1 {
	FONT: bold 24px;
	FONT-WEIGHT: bold;
}

.noBorder {
	BORDER: none;
}

.wrappable {
	white-space: normal;
}

.textAlignRight input {
	text-align: right;
}

.textColorRed input {
	text-align: right;
	color: red;
}

.displayLable {
	BACKGROUND-COLOR: #f1f1f1;
}

.inputNumber {
	background-color: #D0E8FF;
}

.labelAccountList {
	font-size: 16pt;
}

.hide { /*display:none;*/
	display: none;
}

.display {
	display: block;
	border: 0;
	background-color: #CCCCFF;
	margin: 0;
}

.display2 {
	display: block;
	border: 0;
	background-color: #FFFFFF;
	margin: 0;
}

.footMark {
	background: none repeat scroll 0 0 #DFFFDE;
}

.dojoxGrid .footMark .rmContentPadding {
	padding: 0;
}

.boldFont {
	font-weight: bold;
}

.claro .dijitContentPane {
	padding: 0;
}

.panelAlignCenter {
	MARGIN-TOP: 0px;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto;
}

.tdPadding {
	padding: 3px;
}

.testButton{
	background-image: url('../img/pic_topnavi_02.gif');
}