.imageWidget {
	background: -moz-linear-gradient(center top , #fff 0%, #e9f4e9 100%);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9f4e9');	
	height:120px;
	width:450px;
}

.titleTd{
	
}

.title{
	float:left;	
	font-weight:bold;
}

.buttonTd{
	
}

.button{
	float:right;
}

.rightLabelTd{
	
}

.rightLabel{
	float:right;
}

.nameTd{
	background-color:#e9f4e9;
	font-weight:bold;
	border:solid 1px #eaeaea;	
}

.nameTopTd{
	background-color:#e9f4e9;
	font-weight:bold;
	border:solid 1px #eaeaea;	
	border-top:solid 2px #7e7e7e;	
}

.contentTd{
	border:solid 1px #eaeaea;	
}

.contentTopTd{
	border:solid 1px #eaeaea;	
	border-top:solid 2px #7e7e7e;	
}

.collapse{
	border-collapse: collapse;
}

.redcolor{
	color:red;	
}