.title{
	font-size:14px;
	font-weight:bold;	
	color:#7e7e7e;
}

.subject{
	font-weigth:bold;
	color:#7e7e7e;	
}

.td1{
	border:solid 1px #7e7e7e;
	border-top:	solid 2px #7e7e7e;
	border-left:none;
}

.td2{
	border:solid 1px #7e7e7e;
	border-top:	none;
	border-left:none;
}

.td3{
	border-top:	solid 2px #7e7e7e;
	border-bottom:solid 1px #7e7e7e;
}

.td4{
	border-bottom:solid 1px #7e7e7e;	
}

.content{
	color:#7e7e7e;
}

.collapse{
	border-collapse: collapse;
}

.td11{
	border-top:solid 1px #4e4e4e;
	border-bottom:solid 2px #7e7e7e;
	background:#f7f7f7;	
}

.td12{
	border-top:solid 1px #4e4e4e;
	border-bottom:solid 2px #7e7e7e;
	border-left:solid 1px #7e7e7e;
	background:#f7f7f7;	
}

.td13{
	background:#f7f7f7;	
}

.td14{
	background:#f7f7f7;	
	border-bottom:solid 1px #7e7e7e;
}

.td23{
	background:#f7f7f7;	
	border-bottom:solid 1px #7e7e7e;
	border-left:solid 1px #7e7e7e;		
}

.td33{
	background:#f7f7f7;	
	border-left:solid 1px #7e7e7e;
}

.td34{
	background:#f7f7f7;	
	border-left:solid 1px #7e7e7e;
	border-bottom:solid 1px #7e7e7e;	
]