.title{
	font-size:24px;
	font-weight:bold;	
}

.titleButton{
	float:right;	
}

.topBorder{
	border-top:solid 2px #7e7e7e;	
}

.wholeBolder{
	border:solid 1px #cfcfcf;	
}

.wholeBackground{
	border:solid 1px #cfcfcf;
	border-top:none;
	background-image:url("../img/bg.png");
}

.collapse{
	border-collapse: collapse;
}
