.hide {
	/*display:none;*/
	display:none;
}

.display {
	display:block;
	border:0;
	background-color:#CCCCFF;
	margin : 0;
}

.display2 {
	display:block;
	border:0;
	background-color:#FFFFFF;
	margin : 0;
}

.footMark {
	background: none repeat scroll 0 0 #DFFFDE;
}

.dojoxGrid .footMark .rmContentPadding {
	padding:0;
}

.boldFont {
	font-weight:bold;
}

.claro .dijitContentPane {
    padding: 0;
}

.rightAlign {
}

.rightAlign .dijitInputInner {
	text-align: right;
}

.myEditorIcon {
    background-image: url("../../js/dijit/icons/images/editorIconsEnabled.png");
    background-repeat: no-repeat;
    height: 10px;
    text-align: center;
    width: 18px;
}

.myEditorIconSep {
    background-position: 0 center;
}
.myEditorIconSave {
    background-position: -18px center;
}
.myEditorIconPrint {
    background-position: -36px center;
}
.myEditorIconCut {
    background-position: -54px center;
}
.myEditorIconCopy {
    background-position: -72px center;
}
.myEditorIconPaste {
    background-position: -90px center;
}
.myEditorIconDelete {
    background-position: -108px center;
}
.myEditorIconCancel {
    background-position: -126px center;
}
.myEditorIconUndo {
    background-position: -144px center;
}
.myEditorIconRedo {
    background-position: -162px center;
}
.myEditorIconSelectAll {
    background-position: -180px center;
}
.myEditorIconBold {
    background-position: -198px center;
}
.myEditorIconItalic {
    background-position: -216px center;
}
.myEditorIconUnderline {
    background-position: -234px center;
}
.myEditorIconStrikethrough {
    background-position: -252px center;
}
.myEditorIconSuperscript {
    background-position: -270px center;
}
.myEditorIconSubscript {
    background-position: -288px center;
}
.myEditorIconJustifyCenter {
    background-position: -306px center;
}
.myEditorIconJustifyFull {
    background-position: -324px center;
}
.myEditorIconJustifyLeft {
    background-position: -342px center;
}
.myEditorIconJustifyRight {
    background-position: -360px center;
}
.myEditorIconIndent {
    background-position: -378px center;
}
.myEditorIconOutdent {
    background-position: -396px center;
}
.myEditorIconListBulletIndent {
    background-position: -414px center;
}
.myEditorIconListBulletOutdent {
    background-position: -432px center;
}
.myEditorIconListNumIndent {
    background-position: -450px center;
}
.myEditorIconListNumOutdent {
    background-position: -468px center;
}
.myEditorIconTabIndent {
    background-position: -486px center;
}
.myEditorIconLeftToRight {
    background-position: -504px center;
}
.myEditorIconRightToLeft, .myEditorIconToggleDir {
    background-position: -522px center;
}
.myEditorIconBackColor {
    background-position: -540px center;
}
.myEditorIconForeColor {
    background-position: -558px center;
}
.myEditorIconHiliteColor {
    background-position: -576px center;
}
.myEditorIconNewPage {
    background-position: -594px center;
}
.myEditorIconInsertImage {
    background-position: -612px center;
}
.myEditorIconInsertTable {
    background-position: -630px center;
}
.myEditorIconSpace {
    background-position: -648px center;
}
.myEditorIconInsertHorizontalRule {
    background-position: -666px center;
}
.myEditorIconInsertOrderedList {
    background-position: -684px center;
}
.myEditorIconInsertUnorderedList {
    background-position: -702px center;
}