/* 개발자 도구로 작성. 원본 파일을 정확하게 표현한 것이 아닐 수도 있습니다*/
BODY {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Dotum, Arial, Tahoma; COLOR: #555; FONT-SIZE: 12px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
CITE {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
SUB {
	FONT-FAMILY: helvetica; VERTICAL-ALIGN: bottom
}
SUP {
	FONT-FAMILY: helvetica; VERTICAL-ALIGN: top
}
HR {
	DISPLAY: none
}
H1 {
	MARGIN: 0px; FONT-SIZE: 1em
}
H2 {
	MARGIN: 0px; FONT-SIZE: 1em
}
H3 {
	MARGIN: 0px; FONT-SIZE: 1em
}
H4 {
	MARGIN: 0px; FONT-SIZE: 1em
}
H5 {
	MARGIN: 0px; FONT-SIZE: 1em
}
H6 {
	MARGIN: 0px; FONT-SIZE: 1em
}
ADDRESS {
	FONT-STYLE: normal
}
BLOCKQUOTE {
	MARGIN: 0px
}
P {
	MARGIN: 0px
}
PRE {
	MARGIN: 0px; FONT-SIZE: 1em
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
CAPTION {
	DISPLAY: none
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
FORM {
	MARGIN: 0px
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	DISPLAY: none
}
INPUT.text {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 1; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #888; VERTICAL-ALIGN: top; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 2px; _padding-bottom: 2px
}
INPUT.check {
	PADDING-BOTTOM: 0px; MARGIN: 2px 5px 3px 0px; PADDING-LEFT: 0px; WIDTH: 13px; PADDING-RIGHT: 0px; HEIGHT: 13px; PADDING-TOP: 0px
}
INPUT.radio {
	PADDING-BOTTOM: 0px; MARGIN: 2px 5px 3px 0px; PADDING-LEFT: 0px; WIDTH: 13px; PADDING-RIGHT: 0px; HEIGHT: 13px; PADDING-TOP: 0px
}
SELECT {
	MARGIN: 0px; COLOR: #676767; VERTICAL-ALIGN: top
}
.img-button {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 0px; VERTICAL-ALIGN: top; OVERFLOW: visible; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.img-button IMG {
	POSITION: relative; DISPLAY: block
}
.bg-button {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 1em; VERTICAL-ALIGN: top; OVERFLOW: visible; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.bg-button SPAN {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 5px !important; PADDING-RIGHT: 5px !important; WHITE-SPACE: nowrap; PADDING-TOP: 2px !important
}
.msie6 .bg-button {
	MARGIN-LEFT: 4px
}
.msie7 .bg-button {
	MARGIN-LEFT: 4px
}
.input-wrap A {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.input-wrap EM {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.input-wrap LABEL {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.input-wrap SPAN {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.input-wrap STRONG {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
TEXTAREA {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #5a5a5a; FONT-SIZE: 1em; VERTICAL-ALIGN: top; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.hidden-obj {
	POSITION: absolute !important; TOP: -9999px !important; LEFT: -9999px !important
}
.display-none {
	DISPLAY: none
}
#logo {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 1px; PADDING-RIGHT: 0px; HEIGHT: 1px; FONT-SIZE: 0px; OVERFLOW: hidden; TOP: 0px; PADDING-TOP: 0px; LEFT: -10000% !important
}
.accessibility_links {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 1px; PADDING-RIGHT: 0px; HEIGHT: 1px; FONT-SIZE: 0px; OVERFLOW: hidden; TOP: 0px; PADDING-TOP: 0px; LEFT: -10000% !important
}
.dp_none {
	DISPLAY: none
}
.clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: "."
}
.clear {
	DISPLAY: inline-block
}
* HTML .clear {
	HEIGHT: 0px
}
.clear {
	DISPLAY: block
}
.clear-both {
	HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px
}
A {
	COLOR: #555; CURSOR: pointer; TEXT-DECORATION: none
}
A:visited {
	COLOR: #555
}
#splayer {
	Z-INDEX: 999999 !important
}
#aiurlplayer {
	Z-INDEX: 999999 !important
}
