.sliderPanel {
	background-image:url("img/background_01.png");
	background-size:100% 100%;
}

.loanOffer02 {
	background-image:url("img/loan_background_02.png");
	background-size:100% 100%;
}

.loanOffer02 .label01 {
	color:#95B161;
	font-size:12pt;
	font-weight:bold;
}

.loanOffer02 .label02 {
	color:#B3B3B4;
	font-size:10pt;
}

.mainFrameTop .splitter {
	background-image:url("img/title_bottom.png");
	background-repeat: repeat-x;
}

.mainFrameTop .titleMain {
	font-size:20pt;
}

.mainFrameTop .subtitle {
	font-size:9pt;
	color:#C14D4A;
}

.menuItem:link,
.menuItem:visited {
	font-size:9pt;
	color:#6A7D79;
	text-decoration:none;
}

.mainFrameBottom {
	background-image:url("img/mybank_background_bottom.png");
	background-repeat: repeat-x;
	border: none;
}

.mainFrameBottom .linkStyle:link,
.mainFrameBottom .linkStyle:visited {
	font-size: 10pt;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration:none;
}

.bottomPanel {
	margin-top:4px;
	background-image:url("img/mybank_panel_bottom.png");
	background-repeat:no-repeat;
}

.bottomLabel01 {
	font-size:15pt;
	font-weight:bold;
	color:#788E89;
}

.bottomLabel02 {
	font-size:15pt;
	font-weight:bold;
	color:#DDDDDD;
}

.bottomLabel03 {
	font-size:10pt;
	color:#788E89;
}

.bottomLabel04 {
	color:#FFFFFF;
}

.sliderLabel {
	color:#ADCD68;
	font-size: 12pt;
}

.sliderLabel_02 {
	color:#242D3C;
	font-size: 12pt;
}

.sliderLabel_03 {
	color:#FFFFFF;
	font-size: 30pt;
}

.sliderLabel_04 {
	color:#FFFFFF;
	font-size: 12pt;
}

.sliderLabel_05 {
	color:#FFFFFF;
	font-size: 8pt;
}