<?xml version="1.0" encoding="UTF-8"?>
<config>
  <name>dijit_TitlePane</name>
  <label>TitlePane</label>
  <description>A mixin for date picker widget.</description>
  <category>dojo.container</category>
  <editor>com.ibm.btt.tools.xui.editor2.XUIEditor</editor>
  <supportRelativeWidth>true</supportRelativeWidth>
  <htmlTag>div</htmlTag>
  <widgetType>dijit.TitlePane</widgetType>
  <convertToDojoInlineStyle>true</convertToDojoInlineStyle>
  <widgetTypeAttrName>data-dojo-type</widgetTypeAttrName>
  <ancestorWidgets>
    <string>dijit_layout___AbstractContentPane</string>
  	<string>_WidgetBaseV2</string>
  	<string>_FocusMixinV2</string>
  	<string>_WidthSupport</string>
  </ancestorWidgets>
</config>