<?xml version="1.0" encoding="UTF-8"?>
<config>
  <name>dijit_layout_ContentPane</name>
  <label>ContentPane</label>
  <description>This widget embeds a document fragment in the page, specified either by uri, javascript generated markup or DOM reference.</description>
  <editor>com.ibm.btt.tools.xui.editor2.XUIEditor</editor>
  <category>dojo.container</category>
  <supportRelativeWidth>true</supportRelativeWidth>
  <supportRelativeHeight>true</supportRelativeHeight>
  <htmlTag>div</htmlTag>
  <generateLayout>true</generateLayout>
  <widgetType>dijit.layout.ContentPane</widgetType>
  <widgetTypeAttrName>data-dojo-type</widgetTypeAttrName>
  <inlineStyle>true</inlineStyle>
  <ancestorWidgets>
    <string>dijit_layout___AbstractContentPane</string>
  	<string>_WidthSupport</string>
  	<string>_HeightSupport</string>
  </ancestorWidgets>
</config>